[2021-06-15 06:13] FabianCretton opened #764 "PXCube - CubeDesigner - Data do now show up after import - refresh do not work"
After importing a PXCbue, no data is displayed in the CubeDesigner when pressing the refresh button.
To see the data we have to reopen that page (change tab or reopen the cube)

[2021-06-15 06:14] FabianCretton opened #765 "PXCube - Create Project "Request validation error" message"
It did happen once or twice that one pressing the "create project" button, that error message was displayed:
![image](https://user-images.githubusercontent.com/6167669/122002230-c43a6980-cdb1-11eb-8466-dbaec02f49d6.png)

[2021-06-15 06:17] FabianCretton opened #766 "PXCube - Long name push the tabs and "import" button out of the screen"
When the name of the cube is long, we no more see neither the tabs nor the 'import' button.

![image](https://user-images.githubusercontent.com/6167669/122002395-f6e46200-cdb1-11eb-97c6-ce9cded475bf.png)

Of course, such a long name is not something we might want, but there still seems to be a "design" issue.

[2021-06-15 08:03] martinmaillard opened #767 ""Request Header Or Cookie Too Large" error"
The OIDC cookies end up piling up and at some point everything breaks

[2021-06-15 08:09] martinmaillard commented on #766
This should be fixed now (https://github.com/zazuko/cube-creator/pull/761)

[2021-06-15 08:09] #766 closed

[2021-06-15 08:13] martinmaillard commented on #763
The error is `Error: Unexpected "<https://environment.ld.admin.ch/foen/cube/px/0703010000_102/o" on line 1331985.`. @tpluscode I think you know about that right?

[2021-06-15 08:18] tpluscode commented on #756
No. We're waiting for infrastructure changes but so far the core issue has not been identifier

[2021-06-15 11:59] tpluscode commented on #763
Yes. Similarly occurrences reported in #756 and #683

[2021-06-16 07:50] martinmaillard commented on #765
I was not able to reproduce yet.

[2021-06-16 08:46] #764 closed

[2021-06-16 08:46] #767 closed

[2021-06-16 11:48] martinmaillard commented on #730
About `contactPoint`, the current metadata uses `vcard:Organization`, but `LindasDataset` specifies that `contactPoint` must be either `schema:Organization` or `schema:Person`. And most of the other datasets point to an organization. I think we should maybe point to the BAFU organization instead of mirroring values from `dcat:contactPoint`?

[2021-06-17 08:26] l00mi commented on #730
It is true that it is not clear if its a `schema:Person` or `schema:Organization`, but the background idea of contact Point is to have a tangible contact, so a Person would be best. We might need to discuss this with the customer.. but for now I propose to map vcard:name -> schema:name and vcard:email -> schema:email bot in a new object schema:Person.

[2021-06-18 07:18] #757 closed

[2021-06-23 14:58] l00mi opened #776 "Add missing Dimension metadata for PX-Cubes"
From @herrstucki

[2021-06-23 15:00] l00mi commented on #765
@FabianCretton does this still not work for you? If it works please close the issue.

[2021-06-23 15:04] l00mi commented on #683
Potentially timeout Issue with Loading external Cube:
* See if we can change timeout from external query.

Lindas INT right now:
* query.timeout - 1m
* query.timeout.override.enabled - I don't see this value in the metadata, then it should be the default value.

[2021-06-23 16:33] l00mi commented on #776
@tpluscode see also https://github.com/visualize-admin/visualization-tool/issues/126

[2021-06-23 18:13] l00mi commented on #776
@rdataflow follow here

[2021-06-24 08:53] bergos commented on #776
The [buildCubeShape](https://github.com/zazuko/barnard59-rdf/blob/master/manifest.ttl#L13) operation should be part of the pipeline. It adds min, max, in, datatype, ... to the cube shape.

[2021-06-24 08:55] tpluscode commented on #776
That would be [here](https://gitlab.ldbar.ch/pipelines/foen-px-pipeline/-/blob/master/pipelines/pipeline.ttl)?

[2021-06-24 11:48] l00mi commented on #586
@tpluscode can you please just change the timeout to 30min for a test. If this does remedy this problem partially, we will close this ticket for #663.

@FabianCretton please test once @tpluscode has merged.

@rflowdata follow here.

[2021-06-25 08:22] tpluscode commented on #586
We have since changed the pipeline so that every table gets a fresh download link. This should overcome the timeout problem

@FabianCretton could you try uploading that csv again? We might look into why that ran into problems while we're at it

[2021-06-29 14:27] Rdataflow commented on #586
* [x] @tpluscode well done! transformation passes now successfully without hitting any timeout. token is renewed after 1800s. [job log](https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/12497)
* [ ] @l00mi cube-creator app fails in [step 2](https://pipelines-test.lindas.admin.ch/app/cube-projects/cube-project!!ch-bafu-wald-faostat-prod-test002-xxqnddvzz4b/metadata) with 'GET https://pipelines-

[2021-06-29 14:33] l00mi commented on #586
@Rdataflow as I promised you, its not a simple fix. So can we agree we look into it with properly redoing the whole thing with the "Big File" feature?

[2021-07-01 11:04] l00mi commented on #683
@tpluscode this should be solved right?

[2021-07-01 11:05] l00mi commented on #763
@tpluscode should be solved now right?

[2021-07-01 12:59] l00mi commented on #763
Waiting for https://control.vshn.net/tickets/SBAR-431

[2021-07-01 13:00] #765 closed

[2021-07-01 13:32] tpluscode commented on #586
I have optimised the query which took so long in the `GET /dataset` request. The screen now loads successfully although loading the actual observation data also takes a bit long. We will look into that separately, as it uses an external library to navigate the cube

[2021-07-01 18:45] #586 closed

[2021-07-01 18:45] #743 closed

[2021-07-01 19:25] #683 closed

[2021-07-01 19:27] l00mi commented on #756
close in favor of #763

[2021-07-02 21:03] l00mi opened #781 "Add Pagination to Shared Dimension Listings"

[2021-07-02 21:04] #776 closed

[2021-07-02 21:10] l00mi opened #782 "Pipeline fails as successfull"
These pipelines should be red: https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/12718

[2021-07-06 17:49] l00mi opened #787 "URI for shared dimensions should not depend on Cube-Creator"
Currently a new term created as shareddimension still gets a uri with the namespace of the cube creator, e.g. `https://pipelines-test.lindas.admin.ch/dimension/test/test`- that was already solved once (?), and should be configurable and be ld.admin.ch/dimension/cube/<name>.

[2021-07-06 17:50] l00mi opened #788 "Typeahead is broken for choosing Unit on Dimension"
<img width="608" alt="Screenshot 2021-07-06 at 19 50 09" src="https://user-images.githubusercontent.com/502518/124645210-720dd500-de93-11eb-93a0-35637a6c107f.png">

[2021-07-06 17:51] #782 closed

[2021-07-06 17:57] l00mi opened #789 "If the ID of an auxiliary table is the empty string, add a cube:Undefined"
In the case where an ID is empty, e.g. https://pipelines-integ.lindas.admin.ch/app/cube-projects/cube-project!!umweltausgaben-rxy46wgppv5/csv-mapping

<img width="1111" alt="Screenshot 2021-07-06 at 19 56 06" src="https://user-images.githubusercontent.com/502518/124645919-4dfec380-de94-11eb-9e8d-fc05a3704746.png">

{Remarqe} is the empty string, add a 'cube:Undefined`.

[2021-07-07 06:39] l00mi opened #790 "After a day set state to failed for Pipelines"
see e.g. here https://pipelines-integ.lindas.admin.ch/app/cube-projects/cube-project!!ubd0001-prtr-test-03-ar7ejbrmve/csv-mapping

[2021-07-13 06:11] Rdataflow commented on #782
@l00mi should this pipelines be red as well?
https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/12982

[2021-07-13 06:24] l00mi commented on #782
@Rdataflow they are read, they just take over 1h.. i put the limit to 2h now.

[2021-07-13 06:49] Rdataflow commented on #782
thanks for increasing, I'll rerun.
I guess they should be indicated as red here: https://pipelines-test.lindas.admin.ch/app/cube-projects/cube-project!!ch-bafu-wald-faostat-prod-test002-xxqnddvzz4b/publication top right next the _transform_ button

[2021-07-13 07:21] l00mi commented on #782
@Rdataflow can you please open a issue on https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning to revamp this indicator to stay in sync with the gitlab pipelines?

[2021-07-13 08:55] Rdataflow commented on #763
@l00mi is [this ECONNRESET](https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/13012) related and treated in https://control.vshn.net/tickets/SBAR-431 ?

[2021-07-13 10:25] Rdataflow commented on #763
Cubes 102, 105, 112 can be imported now.
However [the ECONNRESET on publishing](https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/13012) still [persists](https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/13031) and needs to be treated here or over there at #756.

[2021-07-13 10:30] Rdataflow commented on #756
[publication](https://pipelines-test.lindas.admin.ch/app/cube-projects/cube-project!!ch-bafu-wald-faostat-prod-test002-xxqnddvzz4b/publication) is still failing with ECONNRESET. seems unrelated to the timeout increased by https://control.vshn.net/tickets/SBAR-431

[2021-07-13 10:45] tpluscode commented on #763
Let's close this the and reopen the ECONNRESET issue

[2021-07-13 10:45] #763 closed

[2021-07-13 13:32] Rdataflow commented on #756
is there any isse with VSHN to follow?

[2021-07-13 14:14] martinmaillard commented on #663
TODO:
- [ ] Check if we can use the File API to get resumable uploads without going directly to S3 (https://github.com/23/resumable.js)
- Another option is to offer a parallel solution to upload files directly to S3 without going through the web UI

[2021-07-13 15:15] Rdataflow commented on #782
it looks like failing pipelines under certain conditions (see above) end up with _schema:CompletedActionStatus_ instead of _schema:FailedActionStatus_

[2021-07-13 15:19] tpluscode commented on #782
Well that's odd. You would see a log message that the pipeline updates the status. Obviously it's not there so it's surprising that the job is green

[2021-07-13 15:36] Rdataflow commented on #782
that's exactly what surprised me most.

[2021-07-16 18:44] l00mi opened #793 "Switch TermsOfUse and CreativeWorkStatus to new URI"
TermsOfUse and CreativeWorkStatus change location from

https://ld.admin.ch/definedTerm/CreativeWorkStatus
to
https://ld.admin.ch/vocabulary/CreativeWorkStatus

(also add Unlisted)

and

https://ld.admin.ch/definedTerm/TermsOfUse
to
https://ld.admin.ch/vocabulary/TermsOfUse

Change accordingly to use new resource URIs.

[2021-07-28 07:37] martinmaillard commented on #742
I think that's done? I don't remember the difference with #743. Any idea @l00mi ?

[2021-07-28 07:40] tpluscode commented on #742
This one is to filter the entire table of KV pairs

Last time @l00mi and I discussed this, we concluded to keep as-is for now. If the list of values to map grows too much, we might first look into automations using `schema:identifier`

[2021-07-28 07:42] martinmaillard commented on #742
👍 Should we close this issue then?

[2021-07-28 08:32] tpluscode commented on #742
I would keep open. It is still something valid to implement potentially

[2021-07-28 14:23] #663 closed

[2021-08-02 12:51] sandhose opened #797 "Apply the S3 CORS policy on start"
Because since #794 the UI directly uploads to S3, the bucket needs to have proper CORS policy configuration. The current configuration was manually applied using `s3cmd`, but it would be better to have it applied on application start.

The current applied configuration looks like this:

[code]

Note that CORS policy isn't implemented by Minio (used in dev environments), so this should only warn an

[2021-08-07 14:31] lapidus opened #802 "Tiny error in sample dataset"
Small note:

I tried importing this .trig file but the dateTime (in 2 instances) seems invalid (70 seconds is out of bounds):
https://github.com/zazuko/cube-creator/blob/8817b1f6668c1438b974511b8eb5af50a81c6109/fuseki/sample-ubd.trig#L699

[2021-08-10 11:09] #787 closed

[2021-08-10 11:09] #788 closed

[2021-08-10 11:21] l00mi commented on #730
@l00mi find better property for SPARQL GUI instead of dcat:landinpage.

[2021-08-10 11:29] #727 closed

[2021-08-10 11:30] l00mi opened #803 "Improve the creation of the URI templates."
Make it easier and more robust.

[2021-08-10 11:32] l00mi commented on #735
Please check if resolved now.

[2021-08-10 11:40] l00mi commented on #660
This seems to be migration related during development. Shall we delete this manually?

[2021-08-11 15:11] l00mi commented on #789
No, instead of creating the entity on the observation itself only https://cube.link/Undefined shall be added.

[2021-08-11 15:14] tpluscode commented on #730
About `.well-known/void`, I don't think we actually have a base URI where to simply append such path.

I propose we make this an organisation profile property and link to it when publishing

[2021-08-11 15:26] tpluscode commented on #789
OK, that makes sense be might be tricky.

The [spec](https://www.w3.org/TR/2015/REC-tabular-metadata-20151217/#uri-template-properties) says

We will need a way to reliably recognise URIs resulting from `null` cells and filter them out in the transformation pipeline.

This is actually a bummer and I wish CSVW worked like R2RML where null cells in fact produced null URIs

[2021-08-12 10:50] tpluscode commented on #735
This requires updating barnard59

[2021-08-12 11:09] tpluscode commented on #802
That's an interesting catch.

Local environment uses Fuseki and it does not complain about the lexical structure of dates. What store are you using?

[2021-08-17 10:55] #802 closed

[2021-08-18 10:06] martinmaillard opened #809 "Configure S3 CORS for every env"

[2021-08-24 07:20] #809 closed

[2021-08-30 13:24] martinmaillard commented on #587
Probably not relevant anymore since we changed the upload method

[2021-08-30 13:24] #587 closed

[2021-08-30 13:25] martinmaillard opened #810 "CSV from external source"
https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/163

[2021-08-31 07:10] tpluscode opened #811 "Export Cube Project"
Part of https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/277

It should be possible to export all project resources so that a project can later be imported in a second instance.

### DoD

A trig file is downloaded containing all RDF of project and its related resources

### Details

To provide the export, it should be sufficient to offer a link to `GET /project/test/export`. If nece

[2021-08-31 07:15] l00mi commented on #811
I like the overall description and the proposed attack vector.

Please make sure that it is clear for future developments what is necessary that the new functionality is also in the export/import relatively.

[2021-08-31 07:37] tpluscode commented on #811
Right. This can work because all identifiers within a project space share its identifier as base namespace. This would be the only requirement

[2021-08-31 07:43] tpluscode commented on #811
By quick experimentation I find that it's most efficient to first `SELECT DISTINCT ?g` of all graphs and then use the result to retrieve the data

[code]

[2021-08-31 09:23] tpluscode opened #812 "Import project"
Part of https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/277
Depends on #811

It should be possible to recreate a project in new instance (environment).

### DoD

* [x] A new operation is possible to upload serialised project resources to new system
* [ ] Resources are recreated but may have to be adjusted and validated first
  * [x] Must link to an organisation which exists in targ

[2021-08-31 10:11] tpluscode opened #813 "Update S3 link when replacing CSV (or remove it completely)"
Required to complete the #812 functionality

CSV Sources imported from another environment will point to its specific S3, such as

[code]

When uploading a new file, as will be necessary to complete an import, we may want to update the value of `schema:contentUrl`.

---

On the other hand, that URL is not used any more so maybe we could actually drop it altogether

[2021-08-31 11:49] tpluscode opened #814 "Import/export shared dimensions"
https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/301

Similar in principle to import/export of projects, this could be much simpler:

**Export entire dimension**

[code]

**Import**

The import should be as simple as inserting the data to the correct graph

[2021-09-06 11:33] l00mi commented on #522
Solved by adding a link to publication screen automatically creating the query.

[2021-09-06 11:33] #522 closed

[2021-09-06 14:59] martinmaillard opened #820 "CSV from external S3 bucket"
https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/163

[2021-09-06 15:31] martinmaillard opened #821 "Unlist a published Cube"
https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/285

- [ ] Use `schema:expires` instead of `schema:validThrough` (migration path?)
- [ ] Unlisting a cube sets `schema:expires` on all previous versions of the cube
- The cube library should ignore all expired cubes by default

To be able to unlist we further need to tweak how we `expire` current Cubes. The rule set should be:
* Publi

[2021-09-06 15:31] martinmaillard opened #822 "Document how to manually delete a published Cube"
https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/285

[2021-09-06 16:53] l00mi commented on #820
this is a stretch goal.. lowest prio please.

[2021-09-07 09:15] l00mi opened #823 "Create a REST endpoint, per Application Profile, that delivers all Metadata in a RDF/XML format."
To feed opendata.swiss we need to export the metadata in a specific format. The ideal solution is a SPARQL query which response in RDF/XML which is DCAT and it works.

Potentially we need to tweak the RDF/XML to make it actually work.

[2021-09-07 09:17] martinmaillard commented on #823
What do you mean by "Application Profile"?

[2021-09-07 09:18] l00mi commented on #823
Yes, we need to have an official name for this. I speak about the structure which defines the Endpoint / baseurl and Organisation and such things.

[2021-09-07 09:22] l00mi commented on #823
So for a start run a SPARQL query listing all published cubes.

[2021-09-07 09:23] tpluscode commented on #823
Why does this have to be RDF/XML specifically?

[2021-09-07 10:18] l00mi commented on #823
Becaus that is what ckan. The platform behind opendata.swiss needs. Now lets pray that this is all, I fear the need a XML which is not actually read by a RDF aware component.

[2021-09-08 07:31] l00mi commented on #820
canceld as of 08.09.2021

[2021-09-08 07:31] #820 closed

[2021-09-08 12:39] #811 closed

[2021-09-08 15:03] martinmaillard opened #825 "Create additional Organizations"
- [x] Collect necessary infos
- [x] Add organizations in codebase

[2021-09-09 11:10] l00mi commented on #825
I asked for the infos here https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/277#note_5743.

[2021-09-09 14:25] FabianCretton opened #827 "Transform of large dataset does timeout (takes longer than 2 hours)"
I tried a transform of [Fabian_Jahrbuch Wald & Holz 2020](https://pipelines-integ.lindas.admin.ch/app/cube-projects/cube-project!!fabianjahrbuch-wald-holz-2020test-2-xm3v67vbpkp/csv-mapping)
Which starts with a time out of 2 hours, and failed "ERROR: Job failed: execution took longer than 2h0m0s seconds"
Here is the [log](https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/14597).

Question:
- S

[2021-09-09 14:30] FabianCretton opened #828 "Cube designer seems slow to display 10 lines of a big dataset"
Projet [Fab test Forestry - 242 MB](https://pipelines-integ.lindas.admin.ch/app/cube-projects/cube-project!!fab-test-forestry-3xrvo6r60jo/csv-mapping)
A pretty large dataset, the .csv is 242 MB and 2 millions lines (i give the CSV size, I did not check about the number of triples).

But to display the Cube Designer, it takes 25-30 seconds for the 10 lines display (each paging takes 25-30 seconds).

[2021-09-09 14:38] l00mi commented on #756
Current Issue https://control.vshn.net/tickets/SBAR-480

[2021-09-09 14:38] l00mi commented on #564
Current Issue https://control.vshn.net/tickets/SBAR-480

[2021-09-09 14:38] l00mi commented on #827
Current Issue https://control.vshn.net/tickets/SBAR-480

[2021-09-10 06:41] Rdataflow opened #829 "Exporting project returns 404"
steps to reproduce:
1. open https://pipelines-test.lindas.admin.ch/app/cube-projects/cube-project!!ch-bafu-wald-faostat-prod-test002-xxqnddvzz4b/edit
2. click export

actual result: 404

expected: exported file

[2021-09-10 06:44] Rdataflow commented on #811
@tpluscode can you look at #829 export returns 404?

[2021-09-10 07:21] Rdataflow commented on #829
same behaviour here:
https://pipelines-integ.lindas.admin.ch/app/cube-projects/cube-project!!fab-test-forestry-3xrvo6r60jo/edit

[2021-09-10 08:06] tpluscode commented on #829
Sorry about that, we missed a step to update the existing projects.

It is working now

[2021-09-10 08:06] #829 closed

[2021-09-10 08:26] l00mi commented on #821
Also documented in https://github.com/zazuko/rdf-cube-schema-viz/blob/master/README.md#version-history-of-cubes and https://github.com/zazuko/rdf-cube-schema-viz/issues/1.

@herrstucki our proposition is to add `schema:expires` additionally and stop doing it once you have added the change on your side. Can you provide us an issue to track this?

[2021-09-10 10:34] l00mi commented on #821
After reflecting how it works on your side, you do not take `schema:validThrough` in consideration at all correct?

[2021-09-10 10:35] l00mi commented on #758
@FabianCretton yes, i close this one in favoer of #756

[2021-09-10 10:35] #758 closed

[2021-09-10 13:29] Rdataflow commented on #829
I confirm, it works well now. 👍

[2021-09-14 10:06] martinmaillard commented on #793
Set both for now

[2021-09-14 10:49] #825 closed

[2021-09-15 09:14] martinmaillard opened #836 "Opendata.swiss keywords need a language"
And they should be input one by one. We should make that clear in the description.

[2021-09-15 11:50] martinmaillard commented on #823
Separate app for endpoint is here at the moment https://github.com/zazuko/ckan-datasets

[2021-09-15 12:01] l00mi commented on #836
That is what we call "tags" inside cube-creator right now?

[2021-09-15 13:24] martinmaillard commented on #836
Yeah, I actually renamed that to "keywords" because I saw that opendata.swiss was using the term "keywords". Can revert this change in the PR if there's a reason to keep "tags", I don't know where this term is originally coming from.

[2021-09-15 13:50] l00mi commented on #822
https://github.com/zazuko/cube-creator/wiki/Technical-Addendum

[2021-09-15 14:42] #793 closed

[2021-09-15 15:38] Rdataflow opened #839 "Imported project's settings cannot be saved"
steps to reproduce
1. export this project https://pipelines-test.lindas.admin.ch/app/cube-projects/cube-project!!ch-bafu-wald-faostat-prod-test002-xxqnddvzz4b/edit
2. import this project (i.e. in integ)
3. optional: [edit the project](https://pipelines-integ.lindas.admin.ch/app/cube-projects/cube-project!!test123-qe4nl6ayd1l/edit) (i.e. project name)
4. save

actual result
![image](https://user-im

[2021-09-15 15:38] #836 closed

[2021-09-15 15:43] l00mi commented on #836
No it is better to allign.

[2021-09-15 16:02] Rdataflow opened #840 "imported project blames uploaded csv for corrupt line"
**steps to reproduce**
1. export this project https://pipelines-test.lindas.admin.ch/app/cube-projects/cube-project!!ch-bafu-wald-faostat-prod-test002-xxqnddvzz4b/edit
2. download csv `Forestry_E_All_Data_(Normalized).csv`
3. import this project (i.e. in integ)
4. reupload the downloaded csv `Forestry_E_All_Data_(Normalized).csv`

**actual result**
![image](https://user-images.githubusercontent.co

[2021-09-16 07:09] #812 closed

[2021-09-16 08:26] tpluscode commented on #840
Thank you for reporting this. Again, as I think we've already seen this problem in distant past.

This time I managed to find the issue and turns out that Windows-style line-endings are to blame, not being handled correctly by our parsing routine.

Not related to import/export after all - a fix is on its way

[2021-09-16 16:19] PDumasBAR opened #843 "Import project fail, asking the CSV file to be uploaded after importing the projet ???"
This my first import test. Having successfully tested the upload functionality, I decide to export the project initiated in INT in TEST. Not the usual path, but it should work also. The export works fine. The import display this error :

![image](https://user-images.githubusercontent.com/35593772/133644275-d808bb7a-1c80-4f40-b19b-4eb24eef4092.png)

The exported project from INT : [Test import CSV

[2021-09-16 19:24] Rdataflow commented on #840
Thank you for this hint and the fix already in review 👍

[2021-09-20 07:13] tpluscode commented on #822
https://github.com/zazuko/cube-creator/wiki/Manually-removing-published-cube

[2021-09-20 07:13] #822 closed

[2021-09-20 12:37] Rdataflow opened #845 "export project features intolerated config which causes imported project to fail on *csvmapping* and *delete*"
steps to reproduce

1. export this project https://test.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!test002b-dzdaqowvoon/edit
2. reimport it on another i.e. INT
3. try to view *csv mapping*
    - actual result ![image](https://user-images.githubusercontent.com/26090254/134001148-43f0a02a-bd71-428f-b46b-c90a4b40fe65.png)
    - expected result: display mapping page
4. try to view *c

[2021-09-20 12:40] Rdataflow commented on #839
fixed

[2021-09-20 12:40] #839 closed

[2021-09-20 12:48] Rdataflow opened #846 "CORS error on reuploading CSV"
**steps to reproduce**
1. open https://cube-creator.zazuko.com/app/cube-projects/cube-project!!test002a-ekdllj9pjbr/csv-mapping/sources/cube-project!!test002a-ekdllj9pjbr!!csv-mapping!!csv-source!!forestryealldatanormalized-csv-59nzpygedjo/replace-csv
2. try to upload any CSV

**actual result**
CORS Error
![image](https://user-images.githubusercontent.com/26090254/134004302-14ed5307-e2e8-4547-84cc

[2021-09-20 14:15] Rdataflow opened #847 "csv upload fails randomly"
![image](https://user-images.githubusercontent.com/26090254/134017841-cde98be0-891e-4762-96fa-6c72d1d9ec8d.png)

[2021-09-20 14:40] Rdataflow opened #848 "changing cubeIdentifier sometimes fails with odd error: multiple project names provided?"
steps to reproduce
change cubeIdentifier to new value and repeateadly *save project*

actual results (cycling)
![image](https://user-images.githubusercontent.com/26090254/134020605-4224a146-9eb0-465a-a1cf-47600b27a220.png)
or
![image](https://user-images.githubusercontent.com/26090254/134021352-06cbdcca-df9f-4ece-b485-f1f6f8c16ba0.png)
or
![image](https://user-images.githubusercontent.com/26090254

[2021-09-20 14:41] #846 closed

[2021-09-20 14:44] tpluscode commented on #848
This is the same problem you reported in #845

Likely caused by when changing the namespace from `pipelines-xyz` to `xyz.pipelines`, some resources seems to have duplicate values for certain blank nodes.

I'll see to clean that up

[2021-09-20 14:44] Rdataflow commented on #848
reloading gives
![image](https://user-images.githubusercontent.com/26090254/134022221-621c2b00-9b48-46b9-b03a-f6f50e3c31b3.png)

[2021-09-20 14:54] Rdataflow commented on #848
@tpluscode you better see if there is a common root cause for the sometimes duplicate entries that happen for several resources i.e.
- dcterms:cubeIdentifier
- csvw:dialect
- meta:dataKind
- schema:contactPoint
- dcat:contactPoint
- schema:associatedMedia
... maybe more?

[2021-09-20 15:25] Rdataflow opened #849 "csv replace > upload fails with: 400 bad request"
https://cube-creator.zazuko.com is affected
![image](https://user-images.githubusercontent.com/26090254/134028375-ab341345-e3d7-4a21-884f-456fd4417d2e.png)

[2021-09-20 15:27] Rdataflow commented on #840
@tpluscode Thank you for this fix.

[2021-09-20 15:27] #840 closed

[2021-09-21 12:03] l00mi commented on #797
@ludovicm67 can you extract the necessary infos from @sandhose and try a solution?

[2021-09-21 12:05] sandhose commented on #797
The CORS policy was already manually applied ; now it would be best if it was applied on startup via the S3 SDK methods I pointed above. It would be probably more relevant if someone from the dev team was assigned to this instead of having @ludovicm67 dig into this codebase

[2021-09-21 12:15] #708 closed

[2021-09-21 12:27] l00mi commented on #564
we track this overall problem with #827

[2021-09-21 12:27] #564 closed

[2021-09-21 12:28] l00mi commented on #660
@tpluscode will kill this project.

[2021-09-21 12:29] #803 closed

[2021-09-21 13:29] l00mi commented on #797
@martinmaillard @tpluscode comments?

[2021-09-21 13:40] martinmaillard commented on #797
If it needs to be done by us I would say: back to the backlog

[2021-09-21 13:55] martinmaillard commented on #730
@l00mi Which property should I use for linking to visualize?

[2021-09-21 14:58] tpluscode commented on #848
The root cause was exactly my mistake when switching the domain from `https://pipelines-integ.lindas.admin.ch/` to `https://int.cube-creator.lindas.admin.ch/`

I messed up the script and duplicated values for any property which had blank node objects. We reverted and reapplied that migration.

Everything is back in order now

[2021-09-21 14:58] #848 closed

[2021-09-21 14:58] #845 closed

[2021-09-22 08:34] martinmaillard opened #852 "Cannot save cube metadata"
Error:
[code]

https://sentry.zazuko.com/organizations/zazuko/issues/1007/

Originally reported by Véronique.

[2021-09-22 10:16] Rdataflow opened #854 "cannot update CSV on TEST"
![image](https://user-images.githubusercontent.com/26090254/134325926-8d71365f-01de-45eb-9139-d168f5ad3eb0.png)

This CSV update did work yesterday. What happened in the meantime?

[2021-09-22 10:24] l00mi commented on #401
* Remove, refactor admin.ch related parts
  * opendata.swiss related or named fields
  * https://github.com/zazuko/cube-creator/pull/853/files#diff-416486e053a13581d750733185e8b6755430a8aaaa4b97f38ebac14335848abbR13

[2021-09-22 10:58] Rdataflow commented on #854
hmm, maybe the errormsg is misleading... is it that authorized session did timeout?

[2021-09-23 09:08] FabianCretton commented on #827
On 22.09, transformation of the same cube was successful and took 22 minutes.

[2021-09-23 09:11] FabianCretton commented on #660
The situation is still the same. If it is not a bug to correct in Cube Creator, yes, you can delete that project.

[2021-09-23 09:14] FabianCretton opened #855 "Edit dimension metadata display each field twice (version 1.4.0)"
When editing the metada of [Fabian_Jahrbuch Wald & Holz 2020](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fabianjahrbuch-wald-holz-2020test-2-xm3v67vbpkp/metadata), each field is displayed twice (see print screen).

It is not always happening, but I can reproduce:
- seems more often when selecting "de" language
- sometimes happening on one column, and not on the other

[2021-09-23 11:37] FabianCretton commented on #827
But the publication of that cube failed - time-out after 2 hours

[2021-09-23 16:19] PDumasBAR opened #856 "Organisations appear twice in the list for field "Owner of the published cube dataset""
In INT only.
In TEST Every organization appears only once.

Maybe related to https://github.com/zazuko/cube-creator/issues/855. Veronique also tell me about a similar behavior in the Cube Designer, where all fields in the edit Dimension and the edit Cube Metadata formular appear twice (twice the **Name**, twice the **Description**, etc.)

![image](https://user-images.githubusercontent.com/35593772

[2021-09-23 16:41] PDumasBAR commented on #855
Same behavior in formular Edit Project :
![image](https://user-images.githubusercontent.com/35593772/134548401-f54875ca-ab05-4655-8e25-86a109438820.png)

Refresh the browser does not correct the display, but going to another tab and back correct the display.

[2021-09-23 16:44] PDumasBAR opened #857 "Validation fails on editing the metadata of a project (formular Edit Project)"
Now we have other organizations available in the tool.
I've try to change the organization owner of our cube in INT, but the validation fails:

![image](https://user-images.githubusercontent.com/35593772/134548970-168af45c-7640-4ce3-9d4b-9609bd203793.png)

It works on TEST, but I must make more tests with published cubes.

The validation fails also if I only change the project title, so the proble

[2021-09-23 22:04] PDumasBAR opened #858 "Import/Export problem ? Transformation successful but no data in the Cube Designer in TEST"
Project : [Staatsrechnungen - Amt](https://test.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!staatsrechnungen-amt-w5jeoeg3gxg/edit)

I've exported this project from INT and reimported it in TEST.
I must reload the CSVs as expected (see https://github.com/zazuko/cube-creator/issues/843).
The 3 CSV and the corresponding mapping tables have been generated, all the parameters in both t

[2021-09-24 07:31] tpluscode commented on #856
Sorry about that. I cleaned up the duplicates

[2021-09-24 07:31] #856 closed

[2021-09-24 07:45] tpluscode commented on #855
Thank you for reporting. This appears to have been some inconsistency in the Stardog cluster.

I recreated the static resources (including the shapes which run the forms) and the problem should now be gone

[2021-09-24 08:06] tpluscode commented on #852
@martinmaillard this is not caused by the DNS change but rather by #806

The update code tries to load the `dcterms:creator` organisation from cube creator database but we are in fact fetching them from Lindas. Hence, it's a `register.ld.admin.ch` resource

[2021-09-24 08:11] l00mi commented on #852
@tpluscode easy fix?

[2021-09-24 08:24] tpluscode commented on #857
Same as #839. Will be fixed on next deployment

[2021-09-24 09:39] tpluscode commented on #858
Hi @PDumasBAR, that's quite interesting

The problem appears to have been that once you changed the organisation the cube remained based in the BAFU namespace (`https://environment.ld.admin.ch/`). That is, only the lookup identifier was wrong. The actual transformed cube was correct but the mismatch caused to not show any oberservations.

So I switched your project to FOEN and the back to SFA and

[2021-09-24 09:57] tpluscode commented on #852
Maybe

The list of organisations is quite long. We use them to find their `dcat:accessURL` and `void:sparqlEndpoint` but those values are only in our internal "Organisation Profile" right now.

I would propose that we start linking our profiles with the `register.ld` identifier and use that link to look up the URLs we need. For example the above could be

[code]

So the lookup in Cube Creator woul

[2021-09-24 10:25] PDumasBAR commented on #858
Hi Tomasz,
I just discuss this issue with Fabian and Véronique and we come to the same conclusion.
There is a problem in importing an exported project in an other organization than the original organization.
You can test the 2 other projects I've exported from Staatsrechnungen  in INT and reimported in TEST:
- [Staatsrechnungen - Bereich](https://test.cube-creator.lindas.admin.ch/app/cube-projects

[2021-09-24 12:30] l00mi commented on #852
Why would we need to couple one with the other?

[2021-09-24 13:39] martinmaillard commented on #852
I think the problem is a misunderstanding on my end when I implemented #806. If we use `maintainer` instead of `dcterms:creator` to get the organization id it should work no?

[2021-09-24 15:00] tpluscode commented on #852
Aren't they effectively different representations of same entities?

It begs additional questions

1. Is the metadata property `dcterms:creator` even needed if we already choose the maintainer ini project settings?
2. Having both, would it ever make sense to select a different organization for the project and different for the dataset metadata?

[2021-09-27 09:54] FabianCretton opened #860 "Login on test.cube-creator, from Chrome, does not work for me"
When I do the login on https://test.cube-creator.lindas.admin.ch, from my Chrome browser, I get the following error after entering the received code:

![image](https://user-images.githubusercontent.com/6167669/134886710-19836363-d8af-46de-acdb-aff31c89b4d3.png)

on int.cube-creator, it works fine.

Is it a problem on my side ?

[2021-09-27 10:06] FabianCretton opened #861 "Cube Creator - download CSV sometimes causes problems now"
On project https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd0066-bodenbelastung-final-4g9ylwp3dlx/csv-mapping

The "download csv option from the CSV Mapping sometimes has a strange behavior from firefox, a new tab opens with:
![image](https://user-images.githubusercontent.com/6167669/134888657-fe89ff6c-7925-49ff-890f-634ba68b6f73.png)

This happens on "UBD0066_Bodenbelas

[2021-09-27 13:45] PDumasBAR commented on #852
Hard to test the DCat harvester with this bug.
I need to publish some cubes from sfa and/or foen to have something to export :). There is only one published cube of foen on int, zero in test. Can you solve the problem ?
All the fields are also duplicated in this formular (https://github.com/zazuko/cube-creator/issues/855 is not solved)

[2021-09-27 14:18] FabianCretton opened #862 "Column mapping not updated after referenced table Identifier has been changed"
On this cube: https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd0066-bodenbelastung-final-4g9ylwp3dlx/csv-mapping

See the mapping for "comments" in the observation table:
![image](https://user-images.githubusercontent.com/6167669/134925859-c0458dec-072b-45b5-bff4-08b11b7af4f6.png)

I did not understand why a mapping to a table with one field in the identifier (Comments w

[2021-09-27 14:56] martinmaillard commented on #862
Seems like a bug to me. I'm not sure what the proper behavior should be though. When changing the identifier of a table, all the references to it will be broken. But it would be good to have a UI flow for this.

[2021-09-28 15:47] #852 closed

[2021-09-28 16:18] #814 closed

[2021-09-28 16:18] #857 closed

[2021-09-29 07:15] FabianCretton commented on #855
I still see this problem with version 1.5

[2021-09-29 15:38] #730 closed

[2021-09-30 07:38] #821 closed

[2021-09-30 08:02] FabianCretton opened #866 "Publication - FetchError: Cannot follow redirect with body being a readable stream"
This morning I did test a new publication of this cube, and it seems I have a new kind of error:
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fabforestrynormalized-5ljx6a5axdk/publication
Log: https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/15092

[2021-09-30 08:04] tpluscode commented on #866
Hello Fabian. My fault sorry, I made a mistake in the gitlab settings which I reverted when I noticed the job failures. Please try again

[2021-09-30 10:04] FabianCretton commented on #866
Seems to work as before, thanks

[2021-09-30 10:04] #866 closed

[2021-10-01 11:57] PDumasBAR opened #870 "Transformation failed after changing the organization (the owner of the published cube dataset)"
in INT, version 1.5.1 (bcbff95)

I'm preparing the sfa cubes for the publication in production.
The main task is to attribute the cube to the sfa, no more to foen.
I've change 3 cubes

1. Staatsrechnungen - Amt

2. Staatsrechnungen - Bereich

3. Staatsrechnungen - Funktion

Do I have to do something before or after changing the organization ?

There is a 4th cube in the serie, Staatsrechnungen - K

[2021-10-01 12:24] PDumasBAR commented on #870
I see a small display bug after changing the organization.
In the CSV Mapping interface, there is no more property name in the tables.
You have to refresh (F5) the page for the property names to be displayed again.
![image](https://user-images.githubusercontent.com/35593772/135619119-577e90a6-4275-471c-9212-64fae3a17504.png)

[2021-10-01 13:43] ortnever opened #871 "Error by Import Managed Dimension"
I exported the managed Dimension "Heavy Metal" from INT und tried to import it in TEST.
I got an "Intenal Server Error" by Import.
![image](https://user-images.githubusercontent.com/79834090/135629983-149db700-a9cf-4ed8-aa5c-37f98f0733eb.png)

[2021-10-01 13:46] PDumasBAR opened #872 "Cube"

[2021-10-01 14:27] ortnever commented on #870
I have the same problem of transformation failing when I change the project name and the cube ID.
- I opened the properties of the project UBD0104 Badegewässer in INT
- I changed the "Project Name" and the "Cube Identifier".
- I exported the project and the CSV
- I imported the project and the CSV into TEST
- So far everything is ok
- I launched the transformation and it failed.
No problem if you

[2021-10-01 16:28] ortnever commented on #651
@Michael, @pierre : We should discuss next Wednesday if the second part of this issue can be done in the next sprint.

[2021-10-01 16:29] ortnever commented on #651
oups, I guess i didn't use the good Email-Adresse, Sorry Michael and Pierre !

[2021-10-01 16:33] l00mi commented on #651
@ortnever nono all good lets discuss wednesday.

[2021-10-01 17:13] ortnever commented on #872
Currently, every new published version appears in Visualize, regardless of the status of that version (published/draft).
![image](https://user-images.githubusercontent.com/79834090/135660434-94a8ba43-3ee0-4356-b089-94eb5ad69663.png)
![image](https://user-images.githubusercontent.com/79834090/135660362-e7770267-ce30-4bdc-8f9e-571741614d27.png)

[2021-10-04 11:18] #790 closed

[2021-10-05 09:45] martinmaillard opened #875 "Datatype validate: properly print invalid value"
When a value has an invalid datatype, the error message looks like `Quad has invalid datatype: [object Object]`.

The bare minimum would be to print the actual invalid value and its datatype.

Part of https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/199

[2021-10-06 08:06] l00mi commented on #872
Should be fixed.

[2021-10-06 08:13] l00mi commented on #860
That can happen and be solved by removing all cookies.

[2021-10-06 08:16] l00mi commented on #855
Should be solved again with the deploy of today.

[2021-10-06 08:18] martinmaillard opened #878 "Ability to change cube identifier when importing an exported project"
Makes it possible to export and re-import in the same environment.

[2021-10-06 08:24] l00mi commented on #861
thank you

[2021-10-06 08:57] l00mi commented on #872
@herrstucki please ping us once you have time to discuss the details on these changes. Closing from our side.

[2021-10-06 09:03] l00mi commented on #862
Plan would be:
* remove all the old identifier mappings, and add the new needed mappings.
* do not try to select anything from the columns, but let it empty for the user to chose
* show an "error" or message if somethin is not choosen.

[2021-10-06 09:07] l00mi commented on #855
This was an error which came through some problems in the DB, we did not actively fix it. Please report if seen again.

[2021-10-06 09:07] #855 closed

[2021-10-06 09:08] l00mi opened #879 "Problem of transformation failing when I change the project name and the cube ID."
I have the same problem of transformation failing when I change the project name and the cube ID.
- I opened the properties of the project UBD0104 Badegewässer in INT
- I changed the "Project Name" and the "Cube Identifier".
- I exported the project and the CSV
- I imported the project and the CSV into TEST
- So far everything is ok
- I launched the transformation and it failed.
No problem if you

[2021-10-06 11:47] martinmaillard opened #881 "Details page for job"
Having a details page for jobs will allow us to display more information. For example errors that happened.

Part of https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/197

[2021-10-06 15:28] #881 closed, assigned to martinmaillard

[2021-10-06 17:31] #660 closed

[2021-10-06 17:31] #879 closed

[2021-10-06 17:33] l00mi commented on #823
closed with https://github.com/zazuko/cube-creator/pull/824

[2021-10-07 07:32] tpluscode commented on #813
On second look, I think we can keep everything as-is. The `contentUrl` will be updated when uploading new file after import and we cannot remove that either since we now support direct files downloaded from http links

[2021-10-07 07:32] #813 closed

[2021-10-12 12:20] ortnever opened #887 "It should not be possible to reactivate "transform" if a transformation is in progress."
Sometimes the "Transform" button remains black after being activated. The user will therefore tend to reactivate it directly afterwards. At the end all transformations succeed but it takes longer. It should not be possible to reactivate "transform" if a transformation is in progress.
![image](https://user-images.githubusercontent.com/79834090/136954888-63f28e14-8c1d-453a-933f-06b94099288d.png)

[2021-10-12 13:06] FabianCretton commented on #861
Today I had exactly the same problem, but I can give some more context:
- From project "UBD0104 Qualität der Badegewässer"
- I did download the 2 .csv files -> this worked fine
- Then I exported the project
- I created a new project based on that export, and I did uplad the csv files there -> this worked
- But then, on the original project, I did launch a 'transform', which failed, with errors abo

[2021-10-12 14:54] FabianCretton commented on #858
It seems that I have the same problem with
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fabubd0104-qualitat-der-badegewasser-z0vnvjmqpzw/csv-mapping

That is an import from and where the organization is set to the same as the original one.

Transformation succeeds, but no data in Cube Designer

[2021-10-12 15:15] FabianCretton opened #888 "When displaying the list of projects, the ordering seems sometimes wrong"
It seems that when working on a project, or creating a project (i am not sure), when going back to the list of projects, that project comes first in the list.

![image](https://user-images.githubusercontent.com/6167669/136982793-ec4d7f1d-9aff-4d67-9518-acf034f2db05.png)

I saw this behavior a long while ago, and personally I can find it disturbing not to find the project in the alphabetical order

[2021-10-12 15:24] FabianCretton opened #889 "When creating a new project from exported project, if a first "create project" correctly fails on existing identifier and the .trig is modified, a second "create project" causes "unknown error""
I did export a project and import it.
I correctly got the error on the existing identifier:
![image](https://user-images.githubusercontent.com/6167669/136984271-4cc94e73-5587-44e9-b994-7a39c7f90f4c.png)

Then I did edit the .trig and change the identifier.
On the interface, I pressed once again on "Create Project" without changing anything in the interface (as the modification was in the file), an

[2021-10-12 16:27] FabianCretton opened #891 "Access+Refresh JWT tokens in logs - possible security issue"
I see that JWT the tokens are still saved in pipelines' logs (access token, refresh token, etc.).
I guess this was a debug purpose, but that should no more be the case now, right ?

[2021-10-13 07:17] l00mi opened #892 "Rename/Refactor the CSV Mapping Tables"
Shall we call the "Observation Table" (the main table defining all dimensions of the cube), the "Cube Table"?

That would more reflect what is the goal then what is the source of this table.

Master / Detail ?

[2021-10-14 08:35] FabianCretton opened #893 "Cube Designer - Adding Meta-data name in 4 languages -> english is lost when saving"
I was editing the RedList table, editing each column meta-data and just adding 4 "same" names in the 4 languages fr-de-it-en.
After saving, the english column name was missing, and editing that meta-data once again did show only 3 langages.
This happened for all columns I was editing: Taxon, Class, Phylum, Kingdom.

![image](https://user-images.githubusercontent.com/6167669/137281388-2d62abb8-5c70

[2021-10-14 15:53] PDumasBAR opened #895 "Something wrong in the cube configuration"
Maybe related to https://github.com/zazuko/cube-creator/issues/870

3 cubes out of the 4 **StateAccounts** work now fine on INT and PROD.
I cannot transform the last one (**Category**) on INT : [Cub Project on INT](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!staatsrechnungen-ognm0oomx61/edit)
I've made a lot of tests, changing the organization, reuploading the CSV, not

[2021-10-15 11:50] PDumasBAR opened #896 "Wrong currency display"
Currencies are not correctly displayed in the cube-creator and visualize
(CHF) -> \(CHF)\
(EURO) -> \(EURO)\
...

[2021-10-15 13:19] PDumasBAR opened #897 "Missing shape(s) in PROD"
It's not possible to import (or start from scratch) a cube project in PROD :
![image](https://user-images.githubusercontent.com/35593772/137493070-0f708e34-feff-4a7e-b214-966deba9f1df.png)

[2021-10-18 11:01] #878 closed, assigned to tpluscode

[2021-10-18 11:38] tpluscode commented on #895
I'm sorry @PDumasBAR. The issues appears to have resulted from some dimension identifiers not being updated when the organisation/identifier was changed fo a cube. Specifically, affected were properties mapped to shared dimensions

This has been fixed already but projects needed manual correction. It should be fine now

[2021-10-18 11:38] #895 closed, assigned to tpluscode

[2021-10-18 13:36] PDumasBAR commented on #897
Done !

[2021-10-19 06:54] FabianCretton opened #902 "Export project from INT and import in TEST: pending display of the CSV Mapping page"
I have exported my [red lists project](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fabian-red-list-test-1-b7aqog24r6n/edit) from INT, to import it on TEST.
I have created the new project on Test, from exported project, but after pressing the "Create project" button, the CSV Mapping page opens with a pending hourglass.
Even after closing/reopening that project on TEST,

[2021-10-19 07:01] FabianCretton opened #903 "New project from exported one - empty error message when no file is selected"
I wanted to create a new project from an exported one, and I pressed on "Create project" before choosing the file.
There was an error message, but empty:
![image](https://user-images.githubusercontent.com/6167669/137859638-4fda4973-3123-4ea2-a07b-ff070a54ae32.png)

[2021-10-19 07:21] #893 closed, assigned to nobody

[2021-10-19 07:28] tpluscode commented on #902
Fixed with 1.5.5

[2021-10-19 07:28] #902 closed

[2021-10-19 07:52] tpluscode opened #905 "PROD - CSV uploads do not work"
This looks like S3 misconfiguration of the production bucket.

When uploading, the browser logs errors similar to

[code]

[2021-10-19 09:14] #905 closed

[2021-10-19 09:24] tpluscode opened #908 "Additinoal informations to show on projects list (modificaitons, upload csv)"
In a future release an abstract of these informations should be visible in the projects list:

- [x] Last modification (any update or csv upload)
- [x] Last version numbers (draft and/or published)
- [x] targets (opendata, visualise)
- [x] special status (published, unlisted, deprecated)

_Originally posted by @PDumasBAR in https://github.com/zazuko/cube-creator/issues/651#issuecomment-938648005_

[2021-10-19 14:08] PDumasBAR commented on #897
Thank @tpluscode, I can now upload the CSV, but the first transformation has failed [16024](https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/16024) when uploading result to graph (reason: self signed certificate). A problem with the user rights in prod ?

[2021-10-20 07:49] tpluscode opened #909 "Prevent changing cube URI once it's been published"
_Originally posted by @PDumasBAR in https://github.com/zazuko/cube-creator/issues/858#issuecomment-926518850_

As discussed, it may be best to disallow the cube identifier or organisation to change once a cube has been published to prevent inadvertently deploying same data as a "new cube"

This makes more sense now than before given that a cube can be re-imported and modified, but only deliberatel

[2021-10-20 11:22] tpluscode opened #910 "No observation data shown"
Some cube fail to be loaded correct by the `rdf-cube-view` library. This appears to be Stardog's problem

A sample query which is at fault looks like

[code]

It should describe the shape and its properties but only the first level is returned despite the `#pragma`.

[2021-10-20 11:22] tpluscode commented on #858
Closing in favour of #910

[2021-10-20 11:22] #858 closed

[2021-10-21 12:52] FabianCretton opened #912 "Shared Dimension export -> import ERROR"
The "heavy metal" shared dimension was exported from INT to a .trig file.
When trying to create a shared dimension on PROD or TEST, from that file, the following error occurs:
![image](https://user-images.githubusercontent.com/6167669/138280990-29d9872e-9aaa-4cbf-98b3-5a2fc0e91439.png)

[2021-10-25 08:34] PDumasBAR opened #915 "Request validation error for cube's metadata in INT"
I can't update the cube's metadata for the project [Agroscope BIL-P Test 01](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!agroscope-bil-p-01-kmkgl5rwd5r/metadata/edit) in INT

![image](https://user-images.githubusercontent.com/35593772/138658812-76987dd8-6d28-4fa3-b7e2-abe91957e43c.png)
~50 times the same message, then ~50 times
![image](https://user-images.githubuserco

[2021-10-28 08:03] #897 closed, assigned to tpluscode

[2021-10-29 06:10] FabianCretton opened #919 "Changing the "target property" on CSV Mapping makes some value disappear in Cube Designer"
After transforming a cube, I was seeing the data in the Cube Designer.
Then I did change a property on the CSV Mapping.
I did not re-run a transform.
But on the Cube Designer, that column was then empty.
If I re-run a transform, the values appear again.
Also: if I do not re-run a transform, but change back to the former 'target property' -> the column values are back.

This seems like a bug, but a

[2021-10-29 07:47] FabianCretton opened #920 "Cube Designer - Dimension meta-data - Removing Dimension Type is not 'saved'"
If a dimension is marked as "key dimension", shouldn't it be possible to remove that using the "-" (minus) button ?
![image](https://user-images.githubusercontent.com/6167669/139396260-7cca09e5-f3ab-47c2-bb1c-c3f8f535a0d1.png)

I tried to remove that, the information was correctly removed in the edition form, and I saved -> but the columns kept its name in "bold", and when re-opening the metadata

[2021-10-29 09:34] FabianCretton opened #921 "Cube Creator - Publish job started, but not listed"
I did press the "start publication" button, the popup saying that job job was starting appeared, but then the job was not added in the list of "Previous publications":
![image](https://user-images.githubusercontent.com/6167669/139411811-a0aa7bd3-b083-4374-b699-9b6dc7db8461.png)

I tried a second time, and it was the same.

I went to the pipelines, and I saw the jobs, that did finish successfully:

[2021-11-01 10:40] tpluscode commented on #919
The mappings define the shape of the cube. Specifically only the prescribed properties are loaded from observations. Thus, if you change a property, it cannot be displayed because it simply does not exist in the data. Because mapping changes do not touch the observations, when you change the property back, the data is visible again

With the next release we will start tracking all changes so it wi

[2021-11-01 11:02] tpluscode commented on #920
The dimension is preselected to match the same selection made in the CSV Mapping tab for the input column

[2021-11-01 12:58] #871 closed

[2021-11-01 12:58] #910 closed

[2021-11-01 13:53] martinmaillard opened #923 "Add dataset metadata field: "opendata.swiss legal basis""
Optional field, similar to "landing page". Should contain a link to another web page. Not sure which property to use.

The CKAN endpoint will serialize it to:
[code]

[2021-11-01 13:55] martinmaillard opened #924 "Improve "keywords" input"
(feedback from Pierre)

Entering keywords one-by-one in the cube metadata is really painful. It would be better to have one input per language and a proper tag input.

[2021-11-01 14:49] l00mi commented on #888
Do order alphabetically for now.

[2021-11-01 14:50] l00mi opened #925 "Only show own projects as default filter on"

[2021-11-01 15:58] l00mi commented on #723
We prefer to report to the development actively instead of showing an error. Is this okay?

[2021-11-01 15:59] l00mi commented on #861
I close it again for now. Please feel free to reopen if this again appears.

[2021-11-01 16:02] #915 closed

[2021-11-01 16:02] l00mi commented on #912
@tpluscode should this not have been closed with the merge?

[2021-11-01 16:02] #912 closed

[2021-11-01 16:05] l00mi commented on #889
This is obsolete now with the new import. In general we should never manually change the TRIG files.

[2021-11-01 16:05] #889 closed, assigned to nobody

[2021-11-01 16:06] l00mi commented on #847
This should be solved by now.. closing.

[2021-11-01 16:06] #847 closed

[2021-11-01 16:06] l00mi commented on #849
Same.

[2021-11-01 16:06] #849 closed

[2021-11-01 16:07] l00mi commented on #843
Should be solved by now.

[2021-11-01 16:07] #843 closed

[2021-11-01 16:08] l00mi commented on #854
@tpluscode is this still relevant?

[2021-11-01 16:09] #860 closed

[2021-11-02 09:28] FabianCretton commented on #919
Yes, an information that a changed has been made on CSV Mapping after the last "transform" would be helpful.

@l00mi explaining this link between the CSV mapping and the transformed cube seems necessary in the User Guide. It is a kind-of "discovery" and surprise for me.  Maybe an explanation about the impact of changing CSV Mapping after a transform.

By the way, would it be a good/bad idea to mov

[2021-11-02 09:41] FabianCretton commented on #920
As discussed in a [Zulip ](https://zulip.zazuko.com/#narrow/pm-with/4,34,51-group/near/218180)with Adrian/Martin, the link between the "Dimension type" on the CSV Mapping and on the Cube Designer should be clearly explained in the user guide, right @l00mi  ?

[2021-11-02 12:05] tpluscode commented on #903
RE https://github.com/zazuko/rdf-validate-shacl/issues/67

The shape used is an alternative (`sh:xone`) of the 3 variants for creating project: mapping, external, import (excerpt)

[code]

The error is not correctly communicated from the nested shape and it's an issue in multiple places

[2021-11-02 13:18] #888 closed

[2021-11-02 13:18] #925 closed

[2021-11-02 13:49] martinmaillard commented on #923
I found nothing in dcat or schema.org that would fit this use case and I don't think it's a good idea to replicate what they did in opendata.swiss (dcterms:relation + "legal_basis" label). Not sure where to go from here. Should we create a custom property? Is that bad practice? Should we search other vocabularies?

[2021-11-03 07:18] FabianCretton opened #932 "Delete project seems to always fail - Cube Creator INT"
These days I am trying to "clean-up" my test projects, with the "Delete Project" button, but I always get a "Internal Server Error":
![image](https://user-images.githubusercontent.com/6167669/140021472-460f7121-8b8b-4c15-8151-218168cfa4dc.png)

For instance on the following projects:
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fabian-red-list-test-to-test-import-with-n

[2021-11-03 08:06] martinmaillard commented on #932
From what I gather from the error reports, this is due to a timeout of the stardog query (@tpluscode https://sentry.zazuko.com/organizations/zazuko/issues/1210/)

[2021-11-03 09:01] martinmaillard opened #933 "Project details: missing target"
<img width="818" alt="Screenshot 2021-11-03 at 10 00 18" src="https://user-images.githubusercontent.com/1334124/140032767-335101b0-19d5-428f-8011-e157d8adea87.png">

"target" doesn't properly display

[2021-11-03 09:51] martinmaillard commented on #923
Decision:
- Switch to `dct:rights` to point to the copyright
- Use `dct:license` for the legal basis

We need to figure out how to migrate existing data

[2021-11-03 13:40] l00mi opened #936 "Pagination for Shared Dimension items"
- [x] API
- [x] Interface

[2021-11-03 16:31] #651 closed

[2021-11-03 16:34] martinmaillard opened #938 "Shared Dimension add a Class to Type"

[2021-11-03 16:34] martinmaillard opened #939 "Shared Dimension add dynamic properties"
To dynamically add new properties (predicates) to items in a Shared Dimension, we need a way to define them on the level of the Shared Dimension itself.

We can add "properties" to the shared dimension, which either have a:
* DataType to constrain them to be a Literal of a certain type.
* The Pointer to the same or another Dimension to choose Items from. (This will allow to create hierarchies thro

[2021-11-03 17:41] l00mi opened #941 "Shared Dimension are not using the proper deployed URI in Cube when published."
The following cube seems to publish the wrong links for Shared Dimensions: https://s.zazuko.com/Rdja6.

It uses :
https://cube-creator.lindas.admin.ch/dimension/el01/cd

Instead expected correct:
https://ld.admin.ch/cube/dimension/el01/cd

[2021-11-04 09:54] tpluscode commented on #941
The problem here was that transformation in PROD would run from an older version of `cube-creator-cli`. Needed an update in [GitLab config](https://gitlab.ldbar.ch/pipelines/cube-creator/-/settings/ci_cd) (variable `IMAGE_TAG`)

[2021-11-04 09:54] #941 closed

[2021-11-04 10:38] tpluscode opened #942 "Overhaul what and when is deployed"
_Originally posted by @tpluscode in https://github.com/zazuko/cube-creator/issues/941#issuecomment-960605460_

We might want to reconsider what we do when new builds are ready to deploy. At the time of writing it does like this:

**API/UI**

- `master` gets deployed automatically to `TEST`
- tags on `master` get automatically deployed to both [`INT`](https://gitlab.ldbar.ch/vshn/gitops-prod/-/blob

[2021-11-04 16:05] l00mi commented on #896
fixed in QUDT data

[2021-11-05 11:21] PDumasBAR opened #943 "Impossible de créer un nouveau projet en INT - unknown error"
version 1.6.1 (04a63f2) en INT
Pas d'autres information sur le problème. J'essaie en TEST.
![image](https://user-images.githubusercontent.com/35593772/140502886-4dcd767e-9754-4b6b-9c32-a518b0d680b5.png)

[2021-11-05 11:24] PDumasBAR commented on #943
ça passe en TEST, avec les mêmes paramètres, sans problème.

[2021-11-05 13:00] l00mi commented on #943
still the same, please follow https://control.vshn.net/tickets/SBAR-534

[2021-11-08 08:14] #923 closed

[2021-11-08 08:37] tpluscode opened #945 "Hierarchies of shared dimension terms"
https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/314

The question is how to connect the terms to for a hierarchy.

Maybe `skos:broader`?

[2021-11-08 08:47] l00mi commented on #945
This is defined already in https://github.com/zazuko/rdf-cube-schema-viz/blob/master/README.md#nested-hierarchies and the necessary functionality will be done through https://github.com/zazuko/cube-creator/issues/939.

[2021-11-08 08:47] #945 closed

[2021-11-08 09:05] l00mi opened #947 "Better error messages of Nested Nodes"
See also https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/197#note_6082

[2021-11-08 09:06] l00mi opened #948 "Warning should be issued if data is missing (cube:Undefined) at least for key dimensions"
There should be a warning, or a list created, for any observation where we have no value. Especially for key dimensions which will create wrong cubes.

[2021-11-08 09:08] l00mi opened #949 "Warning duplicate use of Key Dimensions (creating a clashing IRI)"
Generated or Defined Observation IRIs with the key dimensions are not unique.

For key dimensions, if the same set for 2 observations are used, hence the unique key becomes not unique anymore, a warning is issued.

Most probably that is a step which should be done on the store per SPARQL after transformation.

[2021-11-08 09:20] tpluscode commented on #948
I'd propose to handle this similarly to #949, calculating the problems when the transformation completes and then showing on the Cube Designer screen.

Now, if we'd want to actually display observations with missing key dimensions, maybe this could be an optional filter when retrieving the observations on said screen

[2021-11-08 09:57] l00mi commented on #947
@martinmaillard works on the sh:node pseudo solution for now.

[2021-11-08 09:58] l00mi commented on #949
Finally the error is shown on top of the cube-designer, with the possibility to "filter" for the duplicates.

[2021-11-08 10:03] l00mi commented on #949
Check if there are observations which have all dimensions the same value defined.

[2021-11-08 10:11] l00mi commented on #903
Will be solved with https://github.com/zazuko/cube-creator/issues/947, closing this one for now.

[2021-11-08 10:11] #903 closed

[2021-11-08 10:16] l00mi commented on #920
add a description explaining that if its set in the mapper it is fix.

[2021-11-08 10:19] l00mi commented on #921
This seems to be based on the DB reliability issues for now. We keep it in the backlog to check later on if its still an issue.

[2021-11-08 10:20] l00mi commented on #919
@FabianCretton like this?
![Screenshot 2021-11-08 at 11 14 57](https://user-images.githubusercontent.com/502518/140724947-bb03a952-190d-4a98-8b9e-290b391a32c3.png)

[2021-11-08 10:22] l00mi commented on #854
Should be solved, please open if appearing again @Rdataflow

[2021-11-08 10:22] #854 closed

[2021-11-08 10:30] l00mi commented on #887
Lets change the gray dot to a blinking dot to make clearer that it is running. (If possible directly remove the "green" once you click, and add the dot once the query comes back.

[2021-11-08 13:32] l00mi commented on #887
The above is implemented and make it clear that its ongoing and takes some seconds, for the reactivate of the "transform" we put this in the backlog as it will need more decisions to take before implementing:

* Shall it be also possible to stop a pipeline? Waiting for 1h just to change a small issue would be problematic.
* Running the same pipeline multiple time will use some resources, but shoul

[2021-11-08 14:54] ortnever commented on #887
I have just tested it. It's mich clearer now, with the flashing dot, that the transformation is in progress. Thanks.
The possibility to stop a pipeline could be helpful. To be discussed.

[2021-11-08 14:59] #789 closed

[2021-11-08 14:59] #943 closed

[2021-11-08 14:59] #933 closed

[2021-11-08 14:59] #936 closed

[2021-11-09 08:14] martinmaillard opened #953 "Tell user that they may want to re-run a transformation"
_Originally posted by @tpluscode in https://github.com/zazuko/cube-creator/issues/919#issuecomment-956122655_

[2021-11-09 08:17] martinmaillard opened #954 "Replace "transform" button with a step between mapping and designer"
Epic: https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/307

It is currently impossible for users to understand when the "transform" button should be clicked. Moving it as a tab on the left of "Cube designer" should make it clearer.

Two things to keep in mind:
- The "CSV mapping" step doesn't always exist. Sometimes, "transform" is actually "import".
- Some changes (i.e. shared dime

[2021-11-09 08:18] martinmaillard commented on #919
@l00mi Yes, exactly like your screenshot.

I personally think it's ok to have to re-run the transformation after changing the CSV mapping. It should be made clearer in the interface.

I created 2 separate issues to track the changes suggested for the UI:
- https://github.com/zazuko/cube-creator/issues/953
- https://github.com/zazuko/cube-creator/issues/954

I think we can close this one.

[2021-11-09 09:38] l00mi commented on #919
Taking it further in the new issues. thx @martinmaillard

[2021-11-09 09:38] #919 closed

[2021-11-09 09:52] l00mi commented on #781
solved with https://github.com/zazuko/cube-creator/issues/936

[2021-11-09 09:52] #781 closed

[2021-11-09 10:10] l00mi commented on #528
Seems to be outdated in regard of new CSV import.

[2021-11-09 10:10] #528 closed

[2021-11-09 10:11] l00mi commented on #597
Should be solved now with the new project details, if something is missing please reopen @FabianCretton ?

[2021-11-09 10:11] #597 closed

[2021-11-09 10:13] l00mi commented on #605
Further we need to align on the "fallback" with e.g. visualize if unit:symbol is not available.

@herrstucki can you point us on the bit of code which decides what is shown for unit:symbol please?

[2021-11-09 10:15] l00mi commented on #175
Second part is now tracked at https://github.com/zazuko/cube-creator/issues/947, what about the first part @martinmaillard ?

[2021-11-09 10:33] martinmaillard commented on #175
As far as I know, we didn't plan to do the first part this year.

[2021-11-09 10:59] herrstucki commented on #605
https://github.com/visualize-admin/visualization-tool/blob/main/app/rdf/query-unit-labels.ts

Inspired by https://github.com/zazuko/cube-creator/blob/0c974e2fbfba3d82d585dbce79ef7a0db517d898/apis/core/bootstrap/shapes/dimension.ts

(As discussed last week when we talked about querying metadata for themes/organizations, we would be strongly in favor of NOT duplicating these queries across projects

[2021-11-10 08:28] FabianCretton commented on #861
Today I tried to downlaod a csv from Red Lists and got the same problem
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fabian-red-list-test-1-b7aqog24r6n/csv-mapping

[2021-11-10 08:53] FabianCretton commented on #861
Michael asked me to re-import the CSV, what I did.
Then, it works again.
I will keep an eye on it, see if it happens again

[2021-11-10 08:59] l00mi commented on #605
@bergos would it be smart to have a QUDT specific library to query everything QUDT, e.g. the current label, which can be used in Cube-Creator and also Visualize and future tools?

[2021-11-15 12:25] tpluscode opened #955 "Possibly improve the "dimension type" feature"
Presently, in CSV Projects, we have a "Dimension Type" field in both the column mapping and dimension metadata.

They should be in sync and it is partially facilitated by setting a default value in the designer based if the source column has a type selected. However, this is not true synchronization. A different type can be selected, and it has to be selected and saved explicitly on both forms

Th

[2021-11-15 12:51] FabianCretton commented on #861
The problem is really still there, as the CSV disappeared from a new project I am working on.
The "download CSV" option opens the screen that I pasted in the first post of this issue, and the transform gives:
![image](https://user-images.githubusercontent.com/6167669/141785186-fcf11468-b5d8-4df8-b9a8-f56cbaa2200b.png)

[2021-11-15 14:25] Rdataflow commented on #854
works now, thank you

[2021-11-15 15:35] FabianCretton opened #958 "Current problem of the Cube Designer that hang-up on a cube of about 47'000 original CSV lines"
Today I prepare this cube: https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fab-ofpp-poc-basic-kj0a2oqx3g5/metadata

The transformation is ok, but the Cube Designer seems in an infinite loop, and nothing shows-up:
![image](https://user-images.githubusercontent.com/6167669/141809261-e67005b8-4c8f-43d0-b5f8-12c68f135c32.png)

I did a first transform with a CSV of 600 lines ->

[2021-11-16 08:42] FabianCretton opened #959 "Publish on TEST+INT gives a log error "can not determine target graph""
When publishing this cube on TEST: https://test.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fab-ofpp-poc-basic-data-w1myvry3lbm/publication

The publish status in Cube Creator stays on "pending", but opening the log shows the "can not determine target graph" error:
![image](https://user-images.githubusercontent.com/6167669/141951747-c316a942-3eaf-47d1-9b28-2d6de02cb450.png)

[2021-11-16 09:34] martinmaillard commented on #958
Did you delete the project since creating this issue?

[2021-11-16 11:34] FabianCretton commented on #958
Yes, but I now have the save project on TEST, and same behavior: https://test.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fab-ofpp-poc-basic-data-w1myvry3lbm/metadata

And I am preparing it back-again on INT: https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fab-ofpp-poc-basic-data-gwaqyggglkl/csv-mapping

What I am currently trying on INT, as it is blocker

[2021-11-16 11:46] martinmaillard commented on #958
@tpluscode The `/dataset` endpoint still seems to slow down depending on the number of observations. This should not happen, since we don't need observations to retrieve metadata. I think we can consider this a bug.

[2021-11-16 12:47] FabianCretton commented on #959
I did export the project and import on INT, and I get the same error: https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/17475

I will try to see if any setting seems wrong, but the Organization seems correctly set

[2021-11-16 14:54] martinmaillard commented on #958
Can you check if it's better now? Int was really struggling this morning and seems to be better now

[2021-11-16 15:17] tpluscode commented on #959
This appears to be an issue between GitLab and the cluster. Here's [trace data](https://grafana.zazukoians.org/explore?orgId=1&left=%5B%22now-1h%22,%22now%22,%22Jaeger%22,%7B%22query%22:%227526354a64856cf7c21763a78d16b257%22%7D%5D) from such a failed publish run and it failed retrieving data from the API with HTTP status [504 Gateway Timeout](https://webconcepts.info/concepts/http-status-code/504)

[2021-11-16 15:28] FabianCretton commented on #958
Je relance: https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/17494

Et te redis @martinmaillard  dès que terminé

[2021-11-16 15:34] FabianCretton commented on #958
Le problème est toujours le même @martinmaillard : https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/17494

[2021-11-16 15:35] martinmaillard commented on #959
The timeout is because the `/dataset` request takes too long. It's probably the same problem as what happens in the UI, preventing the cube designer to show up.

[2021-11-17 08:37] martinmaillard commented on #959
Should be fixed now

[2021-11-17 08:37] #959 closed

[2021-11-17 08:38] martinmaillard commented on #958
Should be fixed by https://github.com/zazuko/cube-creator/pull/961

[2021-11-17 08:38] #958 closed

[2021-11-17 08:42] martinmaillard commented on #932
Should be fixed

[2021-11-17 08:42] #932 closed

[2021-11-17 09:36] martinmaillard opened #962 "Add "Cube: " and "Concept: " in front of table names"

[2021-11-17 09:36] martinmaillard opened #963 "Mapper: reorder sources to display the ones mapped to observation tables first"

[2021-11-17 09:53] martinmaillard opened #964 "Shared dimension: replace full URI with link icon"

[2021-11-18 13:27] l00mi opened #966 "Remove sh:in for big numbers"
Add a count of distinct values.

If a sh:in is going over a defined amount.

[2021-11-18 13:28] l00mi opened #967 "Check what happens with xsd:string values."
When building a `sh:in` for cube's dimension constraint, the code should exclude literals of type `xsd:string` but we are still getting long lists of literals.

Somehow, the RDF plain string in the pipeline do not have a datatype?

[2021-11-18 13:46] FabianCretton opened #968 "Error when changing CSV Settings for the delimiter"
In "CSV Mapping"
I did upload a .csv which was not correct, and the separator was the ','
Then I have corrected the .csv, and I changed the separator to ';'

I thus wanted to change the separator on the CSV Settings and got that error:

![image](https://user-images.githubusercontent.com/6167669/142426847-8e4eb209-bbd7-402f-ab05-b2872568a983.png)

[2021-11-18 15:12] tpluscode commented on #967
@bergos can you confirm that we should not be creating `sh:in` lists of literals at all?

[2021-11-18 15:40] l00mi opened #971 "Multiple "contact person""
Somehow the cubes have multiple contact persons, from different versions.

[2021-11-22 10:10] l00mi opened #974 "Alignement with future dcat-ap.ch"
Tracking issue of potential alignement to ongoing dcat-ap.ch. Some properties could be aligned still before going very broad with datasets:

* dct:rights - dct:license ... switch .. use new controlled vocabulary.
* dct:theme .. also add the EU categories
* dct:accrualPeriodicty -> also allow EU controlled vocabulary? use a compatible to both?

[2021-11-23 14:46] #939 closed

[2021-11-23 14:46] #948 closed

[2021-11-23 14:46] #962 closed

[2021-11-23 14:46] #963 closed

[2021-11-23 14:46] #964 closed

[2021-11-23 14:46] #966 closed

[2021-11-25 07:09] FabianCretton commented on #828
Hi, any news about this ?
Today I see that the Forestry cube given as example still takes 25-30 seconds to display 10 lines (out of 2 millions).
Is it the best that can be expected ?
I coud try some queries, but as we can still not publish those big datasets (ECONNRESET), I do not have access to those cubes.
Thank you for any update

[2021-11-25 09:09] tpluscode commented on #828
Here's the generated query and it took the bulk of the time to show your data.

[code]

We'll see what can be done to optimise it

[2021-11-25 13:24] l00mi commented on #828
Why DISTINCT?On 25 Nov 2021 10:09, Tomasz Pluskiewicz ***@***.***> wrote:
Here's the generated query and it took the bulk of the time to show your data.
SELECT DISTINCT ?dimension0 ?dimension1 ?dimension2 ?dimension3 ?dimension4 ?dimension5 ?dimension6 ?dimension7 WHERE {
  GRAPH <https://int.cube-creator.lindas.admin.ch/cube-project/fabforestrynormalized-5ljx6a5axdk/cube-data> {
     <https://env

[2021-11-29 08:50] #967 closed

[2021-11-29 09:04] l00mi opened #982 "Do not save xsd:int as xsd:integer in Forms."
Problem with dynamic allocated INT in Shard Dimension.

[2021-11-29 09:05] l00mi opened #983 "Warn about excessive distinct Value"
Add a warning in the "transformation" run listing the dimension which gets over the limit.

[2021-11-29 09:32] l00mi opened #984 "Publish CKAN in production."
Make necessary changes to deploy CKAN in production.

[2021-11-29 09:37] l00mi commented on #828
@bergos This query is created by the cube-query-view-library. Why does it make a DISTINCT and a GROUP BY? (This seems to force the Database to look at every datapoint before giving an answer.)

[2021-11-29 09:41] #971 closed

[2021-11-29 09:57] l00mi opened #985 "Validate Metadata in Pipeline based on SHACL shapes"
- Gather Metadata (Cube, Version, Dimension)
- Run SHAPES on it, and fail pipeline if not correct.

[2021-11-29 10:27] l00mi opened #986 "Create new Shared Dimensions from Published Swisstopo Layers"
EPIC: https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/282

Automatically create a https://schema.ld.admin.ch/SharedDimension from published non-historized Swisstopo Layers.

[2021-11-29 12:05] l00mi opened #987 "Order Dimensions by Type in Cube-Designer"
In the designer view order the dimensions by Type:

* 1 explicitly set #700
* 2 KeyDimension, MeasureDimension, other.
* 3 Alphabetic

[2021-11-29 12:09] l00mi opened #988 "Allow to choose the "NA" for a mapping of incoming data."
* NA, N/A, not available -> specify "empty" other then being ""

[2021-11-29 13:07] bergos commented on #828
Otherwise you get duplicated lines if you skip a dimension.

[2021-11-30 09:55] tpluscode opened #991 "Editing table identifier sometimes leaves a broken column reference"
I think I saw this issue somewhere but maybe that was in Sentry logs. See below recording

https://user-images.githubusercontent.com/588128/144025069-b27fc949-a4dc-44a8-b2ed-a7dac74ecdf0.mp4

I think it happens when the caret is positioned right after a column reference `{}` and the the input loses focus, cause the column name to be weirdly repeated as this incomplete template variable

[2021-11-30 13:22] ortnever opened #993 "Special caracters in ID values allowed?"
@l00mi
When I run the "SPARQL Query" in following chart, I get an error 404 as I activate the URL of the Dimension 3
https://int.visualize.admin.ch/en/v/-0hTlVk6_74D
It's a coincidence that I activated this link.
Maybe the reason is that I have particular caracters as values for ID? >, <

![image](https://user-images.githubusercontent.com/79834090/144053131-e7536399-ddfd-476f-9de0-eab331955f48.png

[2021-12-01 09:33] l00mi commented on #993
That is a normal an correct behaviour to substitute "special characters" with such even more special codes for URLs. It is also called https://en.wikipedia.org/wiki/Percent-encoding.

But you have brought up a pontential problem in TRIFID (if you click on it) which seems not to properly decode this. It is in the data correct, and can be accessed through SPARQL normally.

https://environment.ld.adm

[2021-12-01 09:33] #993 closed

[2021-12-01 09:49] l00mi commented on #974
make sure on the switch to EU accrualPeriodicity to also change CKAN harvester

[2021-12-01 13:42] l00mi commented on #636
Introduced with https://github.com/zazuko/cube-creator/wiki/Context#from-texts-to-multilingual-concepts

detailed in https://github.com/zazuko/cube-creator/wiki/1.-CSV-Mapping#language.

[2021-12-01 13:42] #636 closed

[2021-12-01 13:43] l00mi commented on #349
Documented at https://github.com/zazuko/cube-creator/wiki/Technical-Addendum#preloaded-ontologies

[2021-12-01 13:43] #349 closed

[2021-12-01 13:45] l00mi commented on #920
* Stated in UI https://github.com/zazuko/cube-creator/commit/c13f5ffc29c8c9638fb3bbddfc539d66020b9ef2
* Improvement Feature in backlog #955

[2021-12-01 13:45] #920 closed

[2021-12-01 13:57] #723 closed

[2021-12-01 13:57] #887 closed

[2021-12-01 13:59] l00mi commented on #921
@FabianCretton this seems to be solved. If you still see the issue please re-open the issue.

[2021-12-01 14:00] l00mi commented on #342
Implemented.

[2021-12-01 14:00] #342 closed

[2021-12-01 14:02] l00mi commented on #332
closed in favor of https://github.com/zazuko/cube-creator/issues/619

[2021-12-01 14:02] #332 closed

[2021-12-01 14:03] #702 closed

[2021-12-01 14:09] #921 closed, assigned to nobody

[2021-12-01 14:10] #892 closed

[2021-12-01 14:11] l00mi commented on #827
transformation is now reliable.. publication is handled in other tickets.

[2021-12-01 14:11] #827 closed

[2021-12-01 14:13] l00mi commented on #478
Good point, and minor importance.

[2021-12-01 14:13] #478 closed

[2021-12-01 14:22] #334 closed

[2021-12-01 14:24] l00mi commented on #441
Documented.

[2021-12-01 14:24] #441 closed

[2021-12-01 14:25] l00mi commented on #569
Solved with better errors on problems in pipeline.

[2021-12-01 14:25] #569 closed

[2021-12-01 14:28] tpluscode commented on #861
I'm trying to make sense of what's going on here. Looking at the `UBD0066 Bodenbelastung (final)` project, @FabianCretton you have re-uploaded the missing CSVs since you'd reported this problem? Now all four files are missing from S3. I opened an issue with VSHN to see if we can get some more intel.

At any rate, I don't see why they should be gone. Cube creator only ever deletes CSVs when a sourc

[2021-12-01 14:32] l00mi commented on #987
Depends on https://github.com/zazuko/cube-creator/issues/700

[2021-12-01 14:35] l00mi opened #994 "Even more information on Project List (modificaitons, upload csv)"
Also requested by @ortnever in https://github.com/zazuko/cube-creator/issues/651#issuecomment-812032034

- [ ] Last upload of a CSV (date and file name)
- [ ] Last modification of mapping (general and for each table)
- [ ] Last modification of Cube design

[2021-12-01 14:36] l00mi commented on #908
moved to new issue https://github.com/zazuko/cube-creator/issues/994

[2021-12-01 14:36] #908 closed

[2021-12-01 14:43] l00mi commented on #828
Blocked by https://github.com/zazuko/rdf-cube-view-query/issues/64

[2021-12-01 14:53] #533 closed

[2021-12-01 14:56] l00mi opened #996 "Set as default xsd:string in mapping for all fields."
Set the default DataType to xsd:string at creation of the mapping.

[2021-12-01 15:01] l00mi opened #997 "Change Links to visualize."
New links to visualize

* CKAN
* cube-creator link

Link is currently pointing to:
`https://visualize.admin.ch/en/create/new?cube=https://environment.ld.admin.ch/foen/ub001/14/`

It should point to:
`https://visualize.admin.ch/en/browse/dataset/https%3A%2F%2Fenvironment.ld.admin.ch%2Ffoen%2Fub001%2F14%2F`

[2021-12-01 15:05] l00mi opened #999 "Refactor Mapping to Shared Dimensions"
For future improvements (allowing only to only substitute the links without runnning the whole pipeline) and to allow to also Substitute URIs (Concepts) instead of only Literals with SharedDimensions a refactor is needed.

The overall goal is to keep the input data in the first generated cube as reference.

[2021-12-01 15:07] l00mi opened #1000 "Allow annotations on dimensions for relations."
To related dimensions to each other allow such annotations.

[2021-12-01 20:17] martinmaillard commented on #984
The [MR](https://gitlab.ldbar.ch/vshn/gitops-prod/-/merge_requests/474) is merged, but the endpoint doesn't seem to be deployed. Can you please check @ludovicm67 ?

[2021-12-01 20:28] ludovicm67 commented on #984
As I can see in other environments, ingress for the Trifid instance is disabled in the chart values and a specific ingress is created aside. We will need to replicate this pattern in the prod environment. I can take care of this.

[2021-12-01 21:07] ludovicm67 commented on #984
Opened a [MR](https://gitlab.ldbar.ch/vshn/gitops-prod/-/merge_requests/475) for that.

[2021-12-02 06:25] AFoletti commented on #635
I am not sure I understand this one correctly.
You mean that in the observation table I am not allowed to use literals, but only concepts that link to another table containing the literal (possibly multilanguage) description of the concept itself?

[2021-12-02 07:30] l00mi commented on #635
Yes, that is the idea. It is documented, and this issue would add a dynamic warning. It would still be possible for tests and similar.

[2021-12-02 07:37] AFoletti commented on #635
Thanks for the clarification.
I am actually unsure about that. While a good idea conceptually, it may be too restrictive. What if I want to add (possibly multilanguage) annotations to my observations? I would need a second table with an entry for each observation, which does not look that elegant to me.

[2021-12-02 07:42] l00mi commented on #635
Do you know that you can create concep tables directly from the sam csv as the cube (observations) table?

In the output data the concepts with multi lingual labels are necessary for filter management purposes.

[2021-12-02 08:13] AFoletti commented on #635
You mean in the cube creator UI? No, I was not aware of that and I am really interested in how this works.

[2021-12-02 08:22] l00mi commented on #635
You can simply select (e.g. only the remark fields) from the CSV and create a new table.

[2021-12-02 08:30] AFoletti commented on #635
thanks!

Makes sense to me.

[2021-12-03 11:00] l00mi commented on #986
Potentail query: https://s.zazuko.com/2epQsQ

It is currently checked by @p1d1d1 for validity.

[2021-12-03 12:06] FabianCretton opened #1002 "Transformation when no "observation table" is defined - Message in Cube Designer"
It is possible to transform a cube when no table is marked as "observation table".
The transformation is successful and not data is displayed in the Cube Designer:
![image](https://user-images.githubusercontent.com/6167669/144599436-c2872ed3-8d3d-4010-aa7a-a2969230dd8a.png)
This message can seem strange, as the transformation was done and successful.

Maybe the error message could be clarified, fr

[2021-12-03 12:43] PDumasBAR commented on #954
Previous transformations should be visible the same way previous publication are shown in the publication step.

[2021-12-03 12:47] PDumasBAR commented on #175
Apply specific validation tests only for cubes published on opendata.swiss.

[2021-12-03 17:15] l00mi opened #1003 "Switch to eu-frequencies"
In regard of #974 switch to eu-frequencies, as selection on Cube.
https://s.zazuko.com/MdWs2

[2021-12-03 17:16] l00mi opened #1004 "Interpret eu-frequencies on CKAN Harvester"
Use skos:exactMatch to inform CKAN based on eu-frequencies.
https://s.zazuko.com/KoUCo

[2021-12-03 17:29] l00mi opened #1005 "Add eu-themes as new metadata field"
A cube can have the eu-category optionally added based on https://s.zazuko.com/2hffre .

predicate: <https://schema.ld.admin.ch/euDataTheme>

Description: The Data Theme Category for the classification in the European Data Catalogs.

[2021-12-06 07:50] FabianCretton commented on #861
@tpluscode , yes, the  CSV were re-uploaded on` UBD0066 Bodenbelastung (final)`, as Véronique had to work on the project.

Please keep me informed if VSHN figures out something, and I will also report if it happens again.

[2021-12-06 08:39] l00mi opened #1006 "Allow to link to multiple "SharedDimensions" to allow hierarchical observations. (e.g. switzerland, canton, municipality)"
For hierarchies, or also special cases we need to allow to link to multiple SharedDimension in the linking tab.

[2021-12-06 09:12] ortnever opened #1007 "Link to visualize from the "Publish" tab doesn't work"
The link to Visualize from the "Publish" tab doesn't open the visualization (data loading error). Direct access from test.visualize via the search allows access to the cube data.

to reproduce
- Open the cube kk_mfm-u_luft_y_v1 in int.cube-creator
- Go to tap "Publish" and activate Link "Visualize.admin.ch"

To find the dataset in test.visualize :
- search "Jahresmittelwerte" (Entwürfe einschliess

[2021-12-06 09:42] ludovicm67 commented on #984
The MR was merged.

[2021-12-06 09:47] martinmaillard commented on #984
Great thanks!

[2021-12-06 09:47] #984 closed

[2021-12-06 10:42] martinmaillard commented on #1002
I will rename "Observation table" to "Cube table" everywhere.

But talking about the "Cube table" in the "Cube Designer" doesn't make sense because the cube doesn't necessarily come from a CSV mapping. We could make it smarter, but is it really something that people would forget?

[2021-12-06 11:02] PDumasBAR opened #1011 "Question - how to define a see also in the cube-creator"
In this [project](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!bfeogd10energieforschungsstatistik-0ojm02omwnq/metadata), Ambrogio has defined some link (see also) to wikidata.
The property is ok, but the value is not a link, only a string.

![image](https://user-images.githubusercontent.com/35593772/144834823-2661e120-c874-4549-9e22-d834fcad1633.png)

How can we define

[2021-12-06 12:55] tpluscode commented on #861
Oh, sorry, I've only put 2 and 2 together today. I wrote it just above

And that is exactly what was happening. We exported projects complete with the S3 keys of CSV sources and they were removed because the code assumed they were being replaced, as is the case typically when re-uploading.

Will be fixed with next release

[2021-12-06 13:30] l00mi commented on #1007
This problem came with the change of new category inteface, it is fixed with https://github.com/zazuko/cube-creator/issues/997 which will be online in the next release.

[2021-12-06 13:30] #1007 closed

[2021-12-06 13:39] l00mi commented on #1000
based on https://zazuko.github.io/rdf-cube-schema/#relexample and the example inhere create an interface to select the relation and other dimension.

[2021-12-06 14:28] #103 closed

[2021-12-06 14:28] martinmaillard commented on #103
Included in https://github.com/zazuko/cube-creator/issues/175

[2021-12-06 14:39] l00mi commented on #1011
This is not yet possible, but it might also be a good thing, because the example points to the wrong URI of wikidata.org,
it should be `http://www.wikidata.org/entity/Q262760` and not https://www.wikidata.org/wiki/Q262760` which is the "Concept URI" (see below)

![Screenshot 2021-12-06 at 15 36 48](https://user-images.githubusercontent.com/502518/144865268-af2b567f-72e5-4eab-9d26-966b474b91b0.png)

[2021-12-06 14:44] l00mi commented on #1002
We might add a warning if a transformation is started without having a cube table?

[2021-12-07 12:00] l00mi commented on #1000
[code]

[2021-12-07 15:49] #861 closed

[2021-12-07 15:49] #947 closed

[2021-12-07 15:49] #949 closed

[2021-12-07 15:49] #982 closed

[2021-12-07 15:49] #997 closed

[2021-12-07 21:55] #954 closed

[2021-12-07 23:23] l00mi commented on #247
https://github.com/zazuko/cube-creator/wiki/3.-Cube-Designer#scale-of-measure

[2021-12-07 23:23] #247 closed

[2021-12-08 09:02] martinmaillard opened #1017 "Designer: do not refresh the whole page when saving dimension metadata"
I'm not sure it's possible yet, but it doesn't make sense to reload the cube every time we save dimension metadata.

(Suggested by Markus)

[2021-12-08 12:37] martinmaillard commented on #1004
Should work. I already deployed a version that supports both legacy and EU frequencies.

[2021-12-08 12:37] #1004 closed

[2021-12-09 14:48] l00mi commented on #974
The necessary steps are prepared (ontologies imported) and the decided steps are in the backlog.

[2021-12-09 14:48] #974 closed

[2021-12-13 12:31] martinmaillard commented on #968
The error is caused by the fact that "quote char" is mandatory.

We should add a default value (i.e. `"`) for this field.

[2021-12-13 12:35] l00mi opened #1024 "Optimize DataTypes for Dynamic Properties"
Allow a Dynamic Property to have as Object a
* URI -> link to any URI (ideally with a quick dereference in the interface to see if its valid: show the rdfs:label, schema:name)
* LangString -> which allows multiple fields to be added

Finally add a new flag, similar to "required" to allow multiple time the same property added.

[2021-12-13 12:40] l00mi commented on #955
Will be mitigated partly by https://github.com/zazuko/cube-creator/issues/991

[2021-12-13 12:44] l00mi opened #1025 "Create interface to define hierarchy."
Per SharedDimension we need to define hierarchies (_forests_), where the SharedDimensions items are the _leaves_ of this _forest_.

A hierarchy is defined by a name and list of _roots_ which are items of a SharedDimension.
A list (ordered) of one or multiple hierarchy levels defined by a predicate link between SharedDimension Items.

Note: This description is valid for the case of the Shared Dimen

[2021-12-13 13:33] l00mi opened #1026 "Create scaffolding of tabs in the interfaces edit screens."
Add a way to have tabs in the SHACL defined User Interfaces.

[2021-12-13 14:41] FabianCretton opened #1027 "User documentation - LINDAS Queries"
I think it is the first time I see this page.
It is not listed on the main page, but I saw it from the "Pages" box on the right.
Questions:
- should it be listed on the main page, maybe in the Appendix ?
- I do not understand the link for "Get Cubes"

[2021-12-13 14:49] l00mi commented on #1027
No this is a temporary space for development purposes, I do not plan to include it in the user documentation.

[2021-12-13 14:49] #1027 closed

[2021-12-13 16:26] FabianCretton opened #1028 "Cube Creator - CSV Mapping - Data type list box not available when editing an "xsd:int" column"
Version 1.7.2

Today I did edit a column from which the type was set to "integer", and instead of having the comb-box displaying the "labels", I see the full URL:
![image](https://user-images.githubusercontent.com/6167669/145849878-f60bdbb4-8dc7-4ac6-9ce4-693cdbe5212e.png)

But when editing a string or date, then the combo is there:
![image](https://user-images.githubusercontent.com/6167669/145849

[2021-12-14 13:52] l00mi commented on #1025
https://visualize.admin.ch/en/v/r7-vm0XFrfoh

[2021-12-15 12:44] FabianCretton opened #1032 "Cube Designer message about data validation seems to mix-up after 2 transforms"
I tried this implementation: https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/197
For me it works.
"Warning should be issued if data is missing (cube:Undefined) at least for key dimensions" displays a message on the cube Designer.
"Warning duplicates (the generated or defined Observation IDs with the key dimensions are not unique)" displays a message on the cube Designer.

But doing

[2022-01-03 13:50] #909 closed, assigned to nobody

[2022-01-03 13:50] #983 closed

[2022-01-03 13:50] #924 closed

[2022-01-03 13:50] #968 closed

[2022-01-03 13:50] #991 closed

[2022-01-03 13:50] #1017 closed

[2022-01-03 13:50] #1026 closed

[2022-01-12 17:19] l00mi commented on #986
https://gitlab.ldbar.ch/pipelines/lindas-metadata/-/merge_requests/45

[2022-01-17 11:45] l00mi opened #1049 "Cube-Designer: Improve Pagination"
Show total amount of lines in Cube-Designer, show final amount of pages.

[2022-01-17 11:48] l00mi opened #1050 "Define Database Enviroment to allow Vendor Specific queries"
If not defined, the SPARQL queries need to follow the SPARQL 1.1 standard.

If a database environment product is specified, specific queries can be provided for some functions.

Implement in the example of search for mapping dimensions.

[2022-01-17 11:49] l00mi opened #1051 "Rework Mapping"
- [x] Keep original strings in mapped dimensions (to be able to change later on) and distinguish them from mapped concepts. (By using a new temporary predicate.)
- [x] On publish only publish the temporary predicate attached values with the original predicate.
- [x] Allow multiple Shared Dimensions to be connect to one dimension.

[2022-01-17 12:44] l00mi commented on #1032
With missing `abriidcanton` are you sure the Observation Identifiers are still unique?
![Screenshot 2022-01-17 at 13 42 25](https://user-images.githubusercontent.com/502518/149771558-a6d8fe3b-582f-4524-b0ce-725c82622373.png)

[2022-01-17 12:47] l00mi opened #1052 "Changing of Target Property follows in error of transformation."
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fab-ofpp-poc-carte-couverture-communes-test-9q7azzbrlkk/csv-mapping/column-mappings/cube-project!!fab-ofpp-poc-carte-couverture-communes-test-9q7azzbrlkk!!csv-mapping!!table!!couverture-communes-onjdajnnjwr!!column-mapping!!codecommune-pybbo8rdp6b/edit

Changing the Target Property from `schema:identifier` to `commune` follow

[2022-01-19 14:25] martinmaillard commented on #1005
@tpluscode I'll take this over, as it's one of the last things I feel able to do in a reasonable amount of time ;)

[2022-01-20 11:56] l00mi opened #1057 "Add constraints for the re-publication on visualize.admin.ch"
Based on:
https://github.com/zazuko/cube-creator/wiki/4.-Publication#to-check-before-a-publication
and
https://test.visualize.admin.ch/docs#/charts/cube-update

check and make it not possible or at least warn about breaking changes in regard of published graphics.

[2022-01-20 14:04] l00mi opened #1058 "Optimize first load of cube-data"
Make use of https://github.com/zazuko/rdf-cube-view-query/pull/69

[2022-01-21 07:08] FabianCretton commented on #828
Hi all, do you have any news about this ?
I see that the it was "Blocked by [zazuko/rdf-cube-view-query#64](zazuko/rdf-cube-view-query#64)", but that #64 is now closed and solved I guess ?

[2022-01-21 07:20] l00mi commented on #1058
duplicate of #828

[2022-01-21 07:20] #1058 closed

[2022-01-21 07:32] ortnever opened #1059 "Publication UBD010701 MFM-U is pending since yesterday 3pm"
The publication of the cube UBD010701 MFM-U Luft Jahr NO NO2 is not successful.
Launched twice, yesterday around 3pm.
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd010701-mfm-u-luft-jahr-no-no2-4ppgj566986/publication

[2022-01-21 07:49] FabianCretton commented on #1032
Thank you @l00mi for pointing this out.
I made one more test, and I would say that we might need some clarification for the error messages:
"Observation identifiers are not unique" -> I was thinking that this was related to the generated URL for an observation, but it is actually a message about the "key dimensions", right ?

Then, as you point out here above, this message appears in my example wh

[2022-01-21 08:12] FabianCretton commented on #1028
Very strange: this was happening on a specific column of my [projet ](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fab-ofpp-poc-shelters-basic-data-8dnoe5zoooy/csv-mapping).
Today I tried to remove that type and set it back to "Integer" -> and the problem is solved.
I do not know why it happened.

[2022-01-21 08:21] l00mi commented on #1059
We were exactly then doing some work on the pipelining overall. I tried just now and it worked directly. Sorry for the bad timing.

[2022-01-21 08:21] #1059 closed

[2022-01-21 08:40] l00mi commented on #1032
It would be the URL but if the URL is based on **abriidcanton** that could have this effect.

The meaning is that at least one time a value for a "keydimension" is missing. Therefore we can't access it anymore by only restricting / filtering with key dimensions. All key dimension together needs to have a unique value for each entry. And therefore a missing value on any key dimension is a warning s

[2022-01-27 13:19] PDumasBAR opened #1063 "error: unknown option '--to'"
Ambrogio tries to publish a new cube in prod and has received 3 times the same error :
error: unknown option '--to'

Can you take a look at his project : [BFE_OGD56_Energieperspektiven2050+](https://cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!bfeogd56energieperspektiven2050-qolbzv7vamz/publication)

[2022-01-27 14:01] tpluscode commented on #1063
We're sorry @PDumasBAR. This is a change on the latest versions which are not yet available on PROD.

I tweaked the GitLab configuration of the publishing pipeline and it should work now.

This is also why the jobs are never updated. Because the whole process does not start it cannot update its own status as it normally does. They will be marked as failed automatically later. We clean them up afte

[2022-01-28 08:43] PDumasBAR opened #1064 "Error : execution took longer than 2h30m0s seconds"
Related to #1063

The publication [job](https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/20841) starts now but it fails because it take too much time.
The same job works fine in INT.

[2022-01-31 09:48] l00mi commented on #828
fixed with https://github.com/zazuko/cube-creator/pull/1060

[2022-01-31 09:48] #828 closed

[2022-01-31 10:38] PDumasBAR commented on #1064
@tpluscode any news about this job ?

[2022-01-31 11:08] tpluscode commented on #1064
I cannot see the traces any more but I expect its cause is related to that of #756

I think that the changes which are already running on INT should help. We will be deploying the latest changes soon

[2022-02-01 06:56] l00mi commented on #993
@ortnever this problem was now solved in TRIFID and can be accessed by clicking on https://environment.ld.admin.ch/foen/ubd0037/3/beurteilung/%3EIGWLSV

[2022-02-01 08:33] PDumasBAR commented on #1064
The PROD is down ! Not sure, but maybe an eIAM related problem.
Are the changes deployed ?

[2022-02-01 08:41] #756 closed

[2022-02-01 08:41] #1024 closed

[2022-02-01 08:41] #797 closed

[2022-02-01 08:41] #987 closed

[2022-02-01 08:41] #1005 closed

[2022-02-01 08:47] l00mi commented on #1064
@PDumasBAR nothing from our side. Please check with VSHN for more details.

[2022-02-01 08:53] PDumasBAR commented on #1064
Stardog is running. No problem on Lindas.
The cube-creator PROD works for you ?

[2022-02-01 08:54] l00mi commented on #1064
No Stardog is not running.. there are spilling problems currently.

[2022-02-01 08:56] #700 closed

[2022-02-01 08:56] #1049 closed

[2022-02-01 08:57] PDumasBAR commented on #1064
OK, I've just tried your updated query for the zefix and it works.  I ask VSHN

[2022-02-01 09:37] martinmaillard commented on #1052
It seems like the dimension mapping's `schema:about` is not updated when changing the property.

[2022-02-02 08:11] #986 closed

[2022-02-02 10:17] FabianCretton opened #1071 "Cube Designer is now even slower than before to display 10 lines of a big dataset"
My original issue about this is now closed: https://github.com/zazuko/cube-creator/issues/828

But today, I gave a try to the Cube Designer, and for the two cubes where it took up to 30 seconds, it now takes up to 1 minute:
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fabforestrynormalized-5ljx6a5axdk/metadata
https://int.cube-creator.lindas.admin.ch/app/cube-projects/c

[2022-02-02 10:29] l00mi commented on #1071
Yes introducing the feature of paging and showing the amount of observation brought us back, and even added some time.

We might investigate if can improve this in the future by separating these two issues.

[2022-02-02 15:04] #1052 closed

[2022-02-02 15:46] FabianCretton commented on #1071
I was curious, so I tried a little query.
I see that requesting the first 10 observations is instantaneous without ORDER BY: https://s.zazuko.com/m7xBE
And then takes up to 38 seconds with an ORDER BY ?obs.
Is paging (OFFSET/LIMIT) possible without ORDER BY, using the natural order of triples in Stardog, or is it a random order ?

[2022-02-02 15:57] l00mi commented on #1071
The problem is not the ORDER BY, but to have a COUNT the DB needs to "touch" every entry, thus needs longer.

As said ideally we can separate this in two request steps. But not sure, because the ORDER BY is needed to assure that we don't get twice in a page the same values.

[2022-02-03 06:56] FabianCretton commented on #1071
The count to get the number of Observations takes 2-3 seconds, right -> https://s.zazuko.com/95Vnk

This is why I do not understand what was really added as new feature, is there anything else than the count of total triples ?
I guess yes, as the time was not increased by 2-3 seconds, but 20-30.

Thank you to help me understand.

[2022-02-03 07:00] FabianCretton commented on #1071
By the way, thank you for adding the number of observations, I was waiting for that feature and it is really helpful

[2022-02-03 10:11] l00mi opened #1072 "In Cube-Designer Pager do not allow to ask for Page 0"

[2022-02-07 09:38] martinmaillard commented on #1072
I didn't do any validation on this input because I'm not sure who that would help... would anyone be confused that requesting page "-1" raises an error?

[2022-02-07 09:40] l00mi commented on #1072
Neither, but I think to just not allow the simple case of 0 and negative values would help in UX. Only if it is very quickly done though.

[2022-02-07 09:51] martinmaillard commented on #1028
This is probably because we replaced `xsd:int` with `xsd:integer` in the options. All the projects that already has a column mapped to a `xsd:int` should have this issue. I think the solution would be to fix these manually, right @tpluscode ?

[2022-02-07 10:07] tpluscode commented on #1028
Right, Gotta find those usages of `xsd:int` and replace with `xsd:integer`

[2022-02-07 10:23] #1072 closed

[2022-02-07 11:54] l00mi commented on #1028
@FabianCretton can you please change them to `xsd:integer` by choosing "Integer" in the cases where this still pops up. It should not be possible for newly mapped cubes.

[2022-02-07 11:54] #1028 closed

[2022-02-07 12:22] l00mi opened #1079 "Problems with Encoding QUDT Unit"
![Screenshot 2022-02-07 at 13 21 30](https://user-images.githubusercontent.com/502518/152787283-cabc0835-6a43-4a47-8c95-73f02c3c8b76.png)

[2022-02-07 13:03] martinmaillard commented on #1079
That looks like a problem in the source data:
<img width="1149" alt="Screenshot 2022-02-07 at 14 03 26" src="https://user-images.githubusercontent.com/1334124/152793320-7cf6e3e2-703f-4f9d-b653-f007926ae3bc.png">

[2022-02-07 14:46] l00mi commented on #1064
The cube was now published multiple times. Closing meanwhile.

[2022-02-07 14:46] #1064 closed

[2022-02-08 10:14] l00mi commented on #1025
Current example:

[code]

[2022-02-08 18:13] l00mi commented on #1050
Generated query for 'stardog' is missing the following prefix:

`PREFIX fts: <tag:stardog:api:search:>``

Therefore the query fails in the "term" service. See https://sentry.io/organizations/zazuko/issues/2968053375/?project=6105496&query=is%3Aunresolved showing the [Query](https://int.lindas.admin.ch/query?query=PREFIX%20meta%3A%20%3Chttps%3A%2F%2Fcube.link%2Fmeta%2F%3E%0APREFIX%20schema%3A%20%3C

[2022-02-09 06:51] FabianCretton commented on #1028
@l00mi this is kind of a "big move" that went unnoticed, no ?

I see that some cubes in production also have xsd:int.
I remember that in the past, xsd:int vs xsd:integer had some quite big repercussions on the triplestore performance or SPARQL performances (I do not remember the details and this might have changed).

Could you explain briefly:
- why the change was done
- if the performances betwee

[2022-02-10 08:34] l00mi commented on #1028
@FabianCretton It should have normally no direct impact on anything.

On the writing side xsd:integer is more general then xsd:int (which does only allow ints up to ~32'000), it is basically xsd:decimal without the "," allowed. So it will generate less problems on data input. (https://stackoverflow.com/questions/15336872/xsd-what-is-the-difference-between-xsinteger-and-xsint)

For querying it shou

[2022-02-10 13:21] tpluscode commented on #1025
@l00mi please confirm I correctly put 2 and 2 together.

Thus `meta:inHierarchy` is property of a shared dimension, right?

The roots would be terms from **any** shared dimension but also not any other type?

[2022-02-10 13:25] l00mi commented on #1025
Hm, no the meta:inHierarchy shall be used on a Dimension inside a cube. (It can also be used on dimensions which are not "Shared Dimensions" potentially. Currently we will out of UX thinking only allow it on shared dimensions.)

That does say that a Shared Dimension has a `meta:Hierarchy` attached to be applied on any dimension. Therefore we might use a new `meta:hasHierarchy` on the Shared Dimens

[2022-02-10 13:51] martinmaillard commented on #1051
We considered 3 solutions to store the original value:
1. RDF*:
    - Example: `<<observation1> <country> <switzerland>> cc:originalValue "CH"`
    - May cause support issue in the stores and the different libs
2. Reification:
    - Example:
[code]
    - Will result in a lot more data
3. A new property:
    - Example:
[code]
    - We'll need to filter out these values when publishing the cube

No

[2022-02-10 14:08] l00mi commented on #1051
Yes, I think solution 3 is the current best way to go.

[2022-02-10 16:02] ortnever opened #1083 "Cube cannot be published in INT"
I tried several times to publish a cube in CC INT this afternoon, but the publication failed.

![image](https://user-images.githubusercontent.com/79834090/153446478-212754d0-ede4-44d2-a0c1-322515715660.png)

[2022-02-10 16:07] tpluscode commented on #1083
Is this a project imported from TEST?

[2022-02-10 16:15] ortnever commented on #1083
I don't remember. I exported the project in decembre 2021 and imported it again today, I think from INT but not sure.

[2022-02-10 16:21] ortnever commented on #1083
Tell me if I have to do the manipulation again..export and import.

[2022-02-10 18:37] tpluscode commented on #1083
Not yet. We'll look into the export/import first to rule out a pre-existing bug which now surfaced since we added metadata validation

[2022-02-11 10:20] ortnever opened #1084 "Cube's metadata : data refresh Interval"
In CC PROD -> Cube Designer -> Cube Metadata : no value available in the drop down List for the field
- data refresh Interval

![image](https://user-images.githubusercontent.com/79834090/153573544-8c6f631f-ecc6-4eaa-b82e-d6ac4a17fc2a.png)

[2022-02-11 10:35] l00mi commented on #1084
I know the problem, we did change the way to import this data from the EU source. Should be fixed soon.

[2022-02-13 21:54] l00mi opened #1086 "Fail pipeline if cube can not be written"
Fail the pipeline in case the writing is not working (e.g. no permission on named graph: https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/21870

[2022-02-14 06:28] l00mi commented on #1084
Works again. https://github.com/zazuko/cube-creator/pull/1087

[2022-02-14 06:28] #1084 closed

[2022-02-14 09:11] l00mi opened #1088 "Add the cube-creator version to a published cube for debugging purposes"

[2022-02-14 09:27] l00mi opened #1089 "Document how to Flag Breaking Changes on the Published Cube"
Ping @ptbrowne once done.

[2022-02-14 13:49] l00mi commented on #1089
Potential solution:

- [ ] We create a new CLI major version per breaking change on the cube format. (per semver.org)
- [ ] The CLI attaches the current CLI (aka. cube version) to the cubes.
- [ ] Visualize can restrict the shown cubes on the major version or have multiple code paths on different versions to avoid surprise.

[2022-02-15 10:12] ortnever commented on #1083
Hello @tpluscode, Something new about that? I would like publish the cube for a discussion with Dataowner.

[2022-02-15 11:33] tpluscode commented on #1083
@ortnever yes, sorry. I found the actual issue in export. It would add an unwanted value for the identifier. I removed it from your project's metadata. Please try publishing now.

I will create a dedicated issue for fixing the export.

[2022-02-15 11:38] tpluscode opened #1092 "Extra dcterms:identifier in some projects"
Re #1083, for a moment I thought that exporting a project adds an additional value for `dcterms:identifier`. For example, the project [UBD003002 Red List, latest survey](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd003002-red-list-latest-survey-mvda8dlp22w/publication/jobs/cube-project!!ubd003002-red-list-latest-survey-mvda8dlp22w!!jobs!!EDVndtk2oXM-FAJ-iIV5G), when

[2022-02-15 13:10] ortnever commented on #1083
Thank you Tomasz ! Perfect. It's published. I have exactly the same problem with following cube. Could you clean the project's metadata for this cube too?
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd003002-red-list-latest-survey-mvda8dlp22w/csv-mapping

![image](https://user-images.githubusercontent.com/79834090/154067319-4d919137-a826-49e0-8aaf-c1124a17ecce.png)

[2022-02-15 13:12] tpluscode commented on #1083
Of course. It is done

[2022-02-15 13:38] ortnever commented on #1083
Thanks @tpluscode

[2022-02-15 14:13] PDumasBAR opened #1093 "Publication locked in PROD"
Project : [Stapfer-Enquête 1799](https://cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!stapfer-enquete-1799-ydqqxlladok/publication)
I have updated the tags. Thanks for the new feature which helps me a lot.
But I can't publish the new version.

[2022-02-15 14:54] l00mi commented on #1093
I did push once more (very hard), and then it worked. I guess just a fluke in the infra.

[2022-02-15 14:54] #1093 closed

[2022-02-17 09:21] FabianCretton commented on #955
Hi @tpluscode may I just get the status about this ?
And @l00mi, does this need clarification in the User Guide ?

[2022-02-17 11:59] l00mi opened #1096 "Forbid or warn changes on mappings (change of predicate) once published"
This kills the graphics. https://github.com/visualize-admin/visualization-tool/issues/348

[2022-02-21 10:32] ortnever opened #1097 "PROD : Dimension Type cannot be deleted in Cube designer"
in CC Prod, Cube UBD0066 Heavy Metal :  Metadata "key dimension" for dimension "Year" cannot be deleted. In the CSV Mapping no dimension type is selected for "Year" and it's correct. I transformed again but it didn't solve my problem.
Thank you to solve the bug as soon as possible.

[2022-02-21 12:06] tpluscode commented on #1097
Thank you for reporting @ortnever. We found the issue and a fix is on its way.

That said, the "returning" dimension type is not actually persisted but only a default value, wrongly set in the metadata editor. If you remove it, the dimension will be saved exactly as expected, without the type.

Sorry about the inconvenience.

[2022-02-21 13:10] ortnever commented on #1097
I removed it with the minus and saved the metadata.
The dimension is always with bold caracters in the dimension table, but you mean it's  saved correctly in the database?

![image](https://user-images.githubusercontent.com/79834090/154961224-908d054a-7e36-4176-a388-de03c4796110.png)

![image](https://user-images.githubusercontent.com/79834090/154961737-2d19a508-3e33-484f-a9bb-61b0956b3800.png)

[2022-02-21 15:06] tpluscode commented on #1097
That's correct. Also, I just merged the fix. Should be up shortly

[2022-02-22 07:43] ortnever commented on #1097
Thanks Tomasz. It's ok now.

[2022-02-22 08:48] #985 closed

[2022-02-22 12:14] #1032 closed

[2022-02-22 12:17] l00mi commented on #1057
close in favor of https://github.com/zazuko/cube-creator/issues/1096

[2022-02-22 12:17] #1057 closed

[2022-02-22 12:21] l00mi opened #1100 "Switch to Vue3.0"

[2022-02-22 12:25] l00mi opened #1101 "First interface to allow automatic mapping"
Create method (with SPARQL updates) to allow the user to choose the "predicate" of the Shared Dimension with the exact match of the string to map automatically all fields in a dimension.

Batch Mapping:
  * Choose which Shared Dimension to match to.
  * Choose the predicate of Shared Dimension to match to. (optionally with schema:identifiers also listed only if `schema:identifier` -> `schema:value

[2022-02-24 10:52] ortnever opened #1110 "Problem to publish a cube on INT and on PROD"
I would like to publish follwing cube on INT bit it doesn't work.

Project name : UBD003001 Red List, latest survey, included %
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd003001rotelistelastevaluation-vpgagpgv5ov/csv-mapping

![image](https://user-images.githubusercontent.com/79834090/155510899-7bd844de-74b4-444d-b543-5065d52e37ec.png)

[2022-02-24 13:18] l00mi opened #1112 "Add a hint on the Shared-Dimension Mapping to distinguish concepts."
To be able to distinguish Bern from Bern if the Shared Dimension Cantons and Municipalities is mapped in a Dimension, the Label needs to be extended with the Shared Dimension description.

Possible solution:

Bern (Canton)
Bern (Municipality)

[2022-02-24 15:24] ortnever commented on #1110
Same Problem on PROD

![image](https://user-images.githubusercontent.com/79834090/155553942-ac829126-dbb7-4c54-9d78-9eab454f2177.png)

[2022-02-24 15:55] #1086 closed

[2022-02-24 15:55] #1110 closed

[2022-02-24 16:22] tpluscode commented on #1110
We found the mistake. Publishing should be working again now

[2022-02-24 16:32] ortnever commented on #1110
@tpluscode Thank you Tomasz. It's ok on INT but not on PROD.

![image](https://user-images.githubusercontent.com/79834090/155566703-1af399cf-3900-4e66-87f7-7c1069c3d9a2.png)

[2022-02-25 09:00] l00mi opened #1114 "Create short Videos for the README"
Create short Videos for the README similar to https://github.com/zazuko/cube-viewer

Showing:
* Upload and Mapping of a simple example and starting Transformation
* Presentation of the Cube-Designer View and adding/changing Metadata on the Cube and Dimension
* Publishing a Cube and short Glimps of presentation in Visualize

[2022-02-25 09:01] l00mi opened #1115 "Switch to rdf-ext 2.0"
Refactor to use rdf-ext 2.0

[2022-02-25 09:03] l00mi commented on #1114
@martinmaillard as I like the videos on cube-viewer a lot, is it okay for you to give this a try? If not please feel free to unassign.

[2022-02-25 09:06] martinmaillard commented on #1114
@ktk created the cube-viewer video, but I can try

[2022-02-25 09:07] l00mi commented on #1114
Okay up to you!

[2022-02-25 09:26] ortnever opened #1116 "Publish Cube does'nt work on PROD"
Impossible to publish following cube on PROD.
UBD003701 Lärmbelastung durch Verkehr (Duplicata of UBD003701 because I had to change the structure of UBD0037 and I don't want to break the grafik on Home page. The first cube (UBD0037) will be deleted on Monday)

![image](https://user-images.githubusercontent.com/79834090/155689556-4a15bf3b-cbb8-4238-bee4-4499919b275c.png)

[2022-02-25 09:35] ptbrowne commented on #1110
When can we expect a prod publication ? Is this going to happen today or next week ?

[2022-02-25 09:39] l00mi commented on #1116
@ortnever that is still the same error we have in some projects. The fix for this is not yet ready, but we can easily fix it manually, so if you encounter the message

[code]

Just write us. The pipeline should be published soon.

[2022-02-25 09:41] l00mi commented on #1116
A small remark, I would not start adding years in the Dataset title. It is okay if it has the same title. We should then show the metadata about the "dataPeriod" accordingly to distinguish such cases.

[2022-02-25 09:42] l00mi commented on #1110
Its online.

[2022-02-25 10:03] ortnever commented on #1116
Thanks a lot for your promptly reaction.

[2022-02-25 10:10] #1116 closed

[2022-02-28 07:03] FabianCretton opened #1117 "What is the status of the "View generated CSVW" option ?"
I never really used that option on the CSV Mapping table, but today I see that nothing is displayed.
Cube Creator version: 1.8.4
I tried on the my [Red Lists project,](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fabian-red-list-test-1-b7aqog24r6n/csv-mapping) and a few other ones, same result:
![image](https://user-images.githubusercontent.com/6167669/155938657-b956758

[2022-02-28 07:56] martinmaillard commented on #1117
It's possibly broken and I think nobody noticed because nobody uses this feature anymore. I'll take a look and fix it if it's and easy fix.

[2022-03-01 14:08] martinmaillard commented on #1100
Some notes about libraries before upgrading:

### Buefy will not support Vue 3

Proposed solution: switch to Oruga https://github.com/zazuko/cube-creator/pull/1120

### vue-class-component, vue-property-decorator, vuex-class don't support Vue 3 yet

If I remember correctly, we chose to use these libraries because it improved Typescript support with Vue 2. Vue 3 has much better Typescript support o

[2022-03-11 04:56] AFoletti commented on #1101
If I may, the BFE has a concrete usecase for that. We would like to go to prod mid-May with a dataset having >300 objects to map.
Of course, we will do the mapping manually if needed. But if this can be deployed to prod beforehand it would be a great help 😄

[2022-03-14 09:26] PDumasBAR opened #1127 "Keywords (Tags) not exported for the DCAT harvester"
I don't know when it happens, but the keywords (tags) are no more exported in the DCAT export for opendata.swiss.
I've made a test to add a lot of keywords in this project [Staatsrechnungen - Amt](https://cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!staatsrechnungen-amt-lanw3m5kxq/metadata/edit).
Keywords are visible in [Lindas](https://lindas.admin.ch/sparql#query=PREFIX+schema%3A

[2022-03-15 14:40] #1092 closed

[2022-03-15 14:45] l00mi opened #1131 "Allow a hierarchy to added to a dimension in a cube."
The user can choose a hierachy which shall be applied to a dimension in a cube.

[2022-03-16 06:54] #1006 closed

[2022-03-16 06:54] #1051 closed

[2022-03-16 10:15] l00mi opened #1134 "Show the hierarchy created in the hierarchy screen for WYSIWYG feeling."
Render a simple tree (ideally collapsible) to understand if the build hierarchy is correct.

[2022-03-21 13:36] martinmaillard commented on #1114
Here's a first draft of the first video. Let me know what you think.

I'm not sure the captions are actually useful?

https://user-images.githubusercontent.com/1334124/159272386-66ea45d9-99c8-4bea-8e03-4793a8afde56.mp4

[2022-03-21 15:55] l00mi commented on #1114
I like it a lot. Please keep going. No need to redo anything, but in general it would be better for such videos to use any use case e.g. "Temperatures in Switzerland", then an abstract "demo".

[2022-03-21 16:44] martinmaillard commented on #1114
@l00mi Good point, do you have a use case in mind (or a sample file?). Otherwise I'll adjust my demo slightly to use your temperatures idea.

[2022-03-23 17:18] l00mi opened #1142 "Improve the filter in the mapping dialog to be done server side."
Follow up from https://github.com/zazuko/cube-creator/pull/1141#event-6293266756

[2022-03-24 12:38] l00mi opened #1143 "Show the complete cube identifier in "Edit Project""

[2022-03-24 12:42] l00mi opened #1144 "Is the name for the cube table or concept table used somewhere later in the cube?"
If a table is a cube. Remove the field for the name as it is nowhere used?

[2022-03-24 12:50] l00mi opened #1145 "Mapping dialog: Put as default the string. Do not allow, or hidde language in case of other chose then string."

[2022-03-24 13:00] l00mi opened #1146 "Hide or explain "View Full Log" button"
Either hide the View Full Log button, or explain why most people have no access to the final product.

It will need roles to properly solve the problem.

Add note: Only accessible for technical users.

[2022-03-28 08:03] martinmaillard commented on #1127
There was a bug in the CKAN endpoint. Should be fixed now, will be deployed in a few minutes.

[2022-03-28 08:22] #1127 closed

[2022-03-28 14:40] PDumasBAR opened #1148 "Login problem in INT"
I've tried to register a new user with a new swiss login in INT.
The swiss login is created, but I don't see the message/link (in a red box) to request an access to the cube-creator. The main page is displayed with the loading spinner and it's all.

[2022-03-28 16:12] PDumasBAR commented on #1127
Salut Martin,

Les tags sont bien exportés, mais il y a une erreur dans le fichier.
Le harvester DCAT signale :
Error parsing the RDF file: <unknown>:2:0: reserved prefix (xml) must not be undeclared or bound to another namespace name

Si je fais une validation du fichier, j'obtiens ce message :
The namespace for 'xmlns:xml" is reserved and it can only be declared as 'http://www.w3.org/XML/1998/na

[2022-03-29 06:50] l00mi commented on #1148
@ludovicm67 @martinmaillard @tpluscode who is best situated to have a look?

[2022-03-29 11:54] martinmaillard commented on #1144
What if the project contains 2 cube tables?

Table names are not used anywhere else than in the mapping.

[2022-03-30 11:40] #1100 closed

[2022-03-31 07:59] PDumasBAR commented on #1127
@martinmaillard
Le harvester fonctionne correctement et les tags sont importés dans opendata.swiss.

[2022-03-31 08:01] martinmaillard commented on #1127
Merci pour le retour !

[2022-04-04 22:09] l00mi commented on #1088
I like it, actionApplications sound very abstract, but I could not find anything better.

[2022-04-05 17:11] #1112 closed

[2022-04-05 17:12] #1146 closed

[2022-04-05 17:12] #1148 closed

[2022-04-07 14:25] PDumasBAR opened #1164 "Login problem in INT not resolved"
Related to #1148

J'ai demandé à Rebekka de réessayer de s'enregistrer dans le cube-creator INT .

Réponse de Rebekka :

Es funktioniert leider immer noch nicht. Aber immerhin erscheint jetzt "Authentification" und dann irgendwann "Error occured during authentification"...

[2022-04-07 14:29] PDumasBAR commented on #1164
C'est bon, Rebekka a fait un nouvel essai et ça marche !!!
Je ferme ce ticket

[2022-04-07 14:29] #1164 closed

[2022-04-07 14:29] l00mi commented on #1164
shortest lifetime of ticket ever (-:

[2022-04-11 09:03] FabianCretton opened #1165 "CSV Mapping - nothing happens when a "_" is used in a target property -> show an error message at least ?"
CSV Mapping, Edit column mapping, use a "_" in a target property -> click on "Update column mapping" -> nothing happens

if the "_" should not be used in a target property, an error should be displayed

removing the "_" and clicking the button again -> the changes are saved and the window closes

[2022-04-11 09:05] FabianCretton opened #1167 "CSV Mapping - Edit column mapping - Dimension type no more displayed on Literal value, but present on link to another table"
see title: maybe it was decided to remove "dimension type" from CSV mapping, in which case it should be removed from both ?

![image](https://user-images.githubusercontent.com/6167669/162703141-f6fb6748-bec9-4e16-9a8f-13b24b6217b0.png)

![image](https://user-images.githubusercontent.com/6167669/162703081-544c4596-b2dd-45f6-9680-ba2e2db55f92.png)

[2022-04-11 09:07] FabianCretton opened #1168 "Publication job terminated, but "colored pastille" not updated in the interface"
Running a transformation, the job was finished but the pastille stayed blinking.
When opening the log, i saw that the job was finished, and then, because opening the log i guess, the pastille changed to green.
But switching tabs and coming bac,k to the "publish" tab -> that same job was blinking again

[2022-04-11 09:09] l00mi commented on #1168
@martinmaillard regression?

[2022-04-11 09:10] l00mi commented on #1167
Good catch @FabianCretton, @tpluscode could you please remove it also from the other side please.

[2022-04-11 09:15] martinmaillard commented on #1168
I can't reproduce this. Can you provide steps to reproduce?

[2022-04-11 12:42] FabianCretton commented on #1168
I saw it the first time i ran a transformation with the new version, after a while not using the CC,
Let see if it happens again. In which case I will comment here. Otherwise it was maybe just a one time thing....

[2022-04-13 06:05] FabianCretton commented on #1167
@l00mi if the Dimension Type is removed from the CSV Mapping, I guess the User Guide has to be updated here:
https://github.com/zazuko/cube-creator/wiki/1.-CSV-Mapping#dimension-type

[2022-04-13 07:05] l00mi commented on #1168
Okay we close it for now. Please feel free to re-open if it again appears.

[2022-04-13 07:05] #1168 closed

[2022-04-13 08:20] #1088 closed

[2022-04-13 08:20] #1134 closed

[2022-04-13 08:20] #1165 closed

[2022-04-13 14:47] l00mi opened #1177 "DynamicProperties pane gets reset after loading"

[2022-04-13 14:50] l00mi opened #1178 "In Hierarchy dereferencing of label not working if there is no english label"

[2022-04-13 14:50] tpluscode opened #1179 "Switch back and forth between Raw RDF and form loses changes"

[2022-04-14 07:16] l00mi opened #1180 "Broken SharedDimension import"
But when choosing the file and clicking "save", I get an error "Error: Cannot invoke operation without a hydra:method"

[2022-04-15 09:07] FabianCretton opened #1184 "Shared Dimension download-> Payload Too Large (413)"
When clicking "download" button for Shared Dimension: https://test.cube-creator.lindas.admin.ch/app/shared-dimensions/dimension!!fabcofogtest3

I get this error:
![image](https://user-images.githubusercontent.com/6167669/163551347-33772d4b-8e80-4b98-b4bf-e6564dacbe9c.png)

[2022-04-20 14:13] Rdataflow opened #1187 "leaving csv-mapping with identifier-template:auto results in cartesian table"
see repro case at https://test.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!issue003-repro-dod5okbykg6/metadata

actual result
- input csv: 3 lines
- output cube: 3^4 = 81 lines

reason seems to be
![image](https://user-images.githubusercontent.com/26090254/164249551-9b8fa0d0-152f-4a26-a897-9c6e400faf28.png)

expected result
- cube would still consist of 3 items

[2022-04-20 14:45] Rdataflow opened #1188 "import csv from url no longer retains the url"
steps to reproduce:
- when importing a csv from url i.e. see https://test.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!issue003-repro-dod5okbykg6/csv-mapping

actual result:
- the url is no longer remembered (blank URL field) nor contained in the project.trig as it was the case a while ago i.e. in this trig described here: https://github.com/zazuko/cube-creator/issues/843

expected

[2022-04-20 15:34] Rdataflow opened #1189 "newly created cube with ""^^cube:Undefined generates broken sh:or ( ... ) list content"
steps to reproduce
- generate & publish a new cube with some missing values (""^^cube:Undefined)
  - https://s.zazuko.com/e7AHJT

actual result
- the resulting cube constraint provides broken sh:or (...) list content.
  - i.e. no subsequent bnodes with [ sh:datatype ... ] are found. the bnodes in the (...) list only exist as objects, however not as subjects.
  - see https://s.zazuko.com/5sE1hs

ex

[2022-04-21 07:18] tpluscode commented on #1188
Do you mean the URL field here?

<img width="383" alt="image" src="https://user-images.githubusercontent.com/588128/164396805-ab0cbfb4-abc8-43ef-abe7-b0cd22dd0368.png">

Are you sure that it was ever stored with the project?

[2022-04-21 07:39] tpluscode commented on #1188
Ok, please disregard my earlier comment. Obviously, we keep the URL because one can still download directly from its location.

Will look into this

[2022-04-21 07:40] tpluscode commented on #1184
Fix is now live on TEST @FabianCretton

[2022-04-25 07:37] FabianCretton commented on #1184
Thank you @tpluscode, I was able to download the shared dimension

[2022-04-26 10:00] tpluscode commented on #1083
Closing as I don't think this issue has occurred since.

@ortnever please reopen if you feel necessary

[2022-04-26 10:00] #1083 closed

[2022-05-02 06:43] FabianCretton commented on #1184
Hi, today I tried to download a Shared Dimension on INT, and it seems the same bug appeared. Was it corrected on TEST but not INT ?

[2022-05-02 06:56] FabianCretton opened #1196 "INT - Create Shared Dimension from import -> error with no explanation and .trig file should be good"
Today I tried to create a Shared Dimension on INT, from an import.
Here is the error - but no explanation is given:
![image](https://user-images.githubusercontent.com/6167669/166195618-07894cfb-0776-49d5-8165-5260f2588d30.png)

The .trig file is a copy of a file that I uploaded successfully as a Shared Dimension on TEST.
I did modify a few things in that file, so there could be an error, but the .

[2022-05-04 10:25] #1178 closed

[2022-05-04 10:25] #1180 closed

[2022-05-04 10:25] #1188 closed

[2022-05-04 10:25] #1167 closed

[2022-05-04 10:25] #1177 closed

[2022-05-04 10:25] #1184 closed

[2022-05-09 11:31] FabianCretton commented on #1196
Today I tried to import the same file once again, this time an error shows up:
![image](https://user-images.githubusercontent.com/6167669/167401059-1942cf9e-0323-40f8-808a-386ea2333846.png)

but I do not really understand the problem.

Any clue of what is happening ?
You have the files in my former post if you want to try.

Thanks

[2022-05-09 12:18] FabianCretton opened #1197 "INT - Existing cube with linked to Shared Dimension of swisstopo -> mapping window do not load correctly"
FireFox 100.0
Cube Creator version 1.11.0
Project: "fab OFPP POC Carte Couverture Communes"

This is a cube from a few months ago, for which the visualization is till working:
https://test.visualize.admin.ch/fr/v/wpEXItwZGA_-

However, there is a problem in the Cube Designer:
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fab-ofpp-poc-carte-couverture-communes-ejknlmxe2pj

[2022-05-09 14:23] ortnever opened #1199 "INT - Replace CSV + Question Datatype Month"
I have tried several times to replace the csv in the project ubd010705-mfm-u-luft-monat-no-no2 (CC INT) but the old file remains.
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd010705-mfm-u-luft-monat-no-no2-pjaad2relwe/csv-mapping
Another question: how do I have to I specify the datatype "Month" in the csv. I put --mm (see attached sample file).
Is this correct?
@l00m

[2022-05-10 04:39] l00mi opened #1202 "Hierarchies applyed on cubes show up in hierarchies list"
If a hierarchy gets added in a cube, it is shown in the list.

E.g. https://int.cube-creator.lindas.admin.ch/app/hierarchies

https://int.cube-creator.lindas.admin.ch/app/hierarchies/b68_genid2da901afd94c4a411699d9d0a0415fe7832dE6CC94279734C0C37774CD22C3757D54

[2022-05-10 05:51] FabianCretton commented on #1196
Today, the import did work.
The Cube Creator version did change in the meanwhile, from 1.11.0 to 1.11.1
I do not know if a fix was  applied, as Tomasz did say on Zulip: "The import if a bit unstable. I have been unable to reproduce in development environment. It also appears to sometimes work and I know that the issue is limited to the UI somehow"

I hope there was a fix, otherwise this should be

[2022-05-10 07:38] tpluscode commented on #1197
Fixed by #1198

[2022-05-10 07:38] #1197 closed

[2022-05-10 09:16] ortnever commented on #1199
The csv problem is solved, it was a mistake on my part.
I have concatenated the month and year in the csv file. Could you tell me how to format a date with year + month (precision: month), type xsd:gMonth.

[2022-05-10 09:20] tpluscode commented on #1199
Glad to hear you found the mistake 👌

Do you want to use [`xsd:gYearMonth`](http://books.xmlschemata.org/relaxng/ch19-77135.html) then? That would be formatted as `YYYY-MM`

[2022-05-10 09:27] ortnever commented on #1199
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd010705-mfm-u-luft-monat-no-no2-pjaad2relwe/csv-mapping

[2022-05-10 09:31] ortnever commented on #1199
Just to be sure: In my source file the month and year are in 2 separate columns. I have to concatenate them if I want to use this time reference in Visualize? Is that right?

[2022-05-10 10:05] l00mi commented on #1199
@tpluscode yes please

[2022-05-10 10:29] tpluscode commented on #1199
Ok, I opened a PR to enable `gYearMonth`

Since we don't have a way to define a dimension/column from multiple CSV values, you would indeed have to prepare a column before uploading

[2022-05-11 07:21] ortnever opened #1207 "CC prod - 503 Service Temporarily Unavailable"
Since yesterday afternoon, projects cannot be uploaded to cc prod. Have you done anything yet?

[2022-05-11 08:23] ortnever commented on #1199
Thank you Tomasz. Let me know as soons as gYearMonth is implemented, so that i could continue with my cube.

[2022-05-11 08:39] tpluscode commented on #1207
Sorry about that. It's back now

[2022-05-11 08:39] #1207 closed

[2022-05-11 10:23] #1189 closed

[2022-05-11 10:23] #1202 closed

[2022-05-11 10:23] tpluscode commented on #1199
It should be available in a few minutes on INT

[2022-05-11 10:23] #1199 closed

[2022-05-13 06:42] FabianCretton opened #1212 "SPARQL queries "optimization" possible ? as User Experience is sometimes really impacted"
We already had talks about the very slow display of observations in the Cube Designer for bigger dataset, as for instance [1] where it takes 50 seconds to display 10 results, because of the ORDER BY clause (which is needed).

The same question is valid for me about the display of the list of projects, that takes also 50 seconds for me (INT), and being the first "impression" that a user has when op

[2022-05-13 07:01] ortnever commented on #1212
I agree with Fabian and confirm that the slow display of the project list is a real problem.
Is it possible to improve this point too?

[2022-05-18 07:28] l00mi opened #1215 "Disappearing UI Elements after Auto Mapping"
After successfull auto mapping some edge case makes the UI elements disappear.
<img width="386" alt="Screenshot 2022-05-18 at 09 26 07" src="https://user-images.githubusercontent.com/502518/168982000-a87aa7de-1d80-4eb5-bc2e-8a4e89f0856f.png">

Console:
<img width="614" alt="Screenshot 2022-05-18 at 09 28 17" src="https://user-images.githubusercontent.com/502518/168982187-6d1a7cb2-8a07-4238-abc7-90

[2022-05-18 08:39] #1187 closed

[2022-05-18 09:23] l00mi opened #1218 "Doubling of shape contraints with publish on INT"
With an import project:

https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd0066import-de-prod-1lmakvo9eek/publication
https://s.zazuko.com/fADRv3

[2022-05-18 09:38] tpluscode opened #1220 "Cube designer: add icon to mark dimensions with hierarchy"
Similarly to the other badges, we could have a "sitemap" icon indicate which dimensions have a hierarchy attached

https://fontawesome.com/v5/icons/sitemap?s=solid

[2022-05-18 10:16] l00mi opened #1221 "Publishing on PROD cube-creator.lindas.admin.ch does fail"
![image001](https://user-images.githubusercontent.com/502518/169016437-c4788d0f-a3d7-44c1-bf8a-958365f62144.jpg)

[2022-05-23 06:00] FabianCretton opened #1224 "Publish of red_lists fails, after cleaning of last friday: error: [{"message":["schema:Dataset needs a schema:identifier"]"
Last friday, the environnements where cleaned up.
I have this "red list" dataset on INT: https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fabredlists-pdnoobynkzn/publication

This project was exported (.tri + csv), then deleted.
After the clean-up, the project was recreated from the export and the .csv updated.
The transform worked.
But the publications failed (see log)

[2022-05-23 06:03] FabianCretton opened #1225 "Publish of fab "Offentliche Ausgaben test3" fails, after cleaning of last friday: error: [{"message":["More than 1 values"],"path""
Last friday, the environnements where cleaned up.
I have this "Offentliche Ausgaben test3" dataset on INT: https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fab-offentliche-ausgaben-test3-05mgyvomygx/publication

This project was NOT deleted.
After the clean-up, the project was re-transformed.
But the publications failed (see log)

[2022-05-23 07:29] l00mi commented on #1224
After removing on the `dcterms:identifier` on the cube metadata it does publish again. We keep this issue open to understand why this triple was added wrongly here.

@FabianCretton the cube did deploy correctly.

[2022-05-23 07:31] l00mi commented on #1224
@FabianCretton from where did you export this dataset? Just to understand better how the problem could happen.

[2022-05-23 08:29] ortnever opened #1227 "Publication of cube metadata - Error message"
When I want to modify the metadata of the cube "ubd0066_Import de PROD" on Cube Creator INT
I get the following error message:
![image](https://user-images.githubusercontent.com/79834090/169777465-d74619f8-e6e8-440d-8d6d-23b4d389a5c3.png)

[2022-05-23 08:32] l00mi commented on #1227
I just fixed it.. please try again.

[2022-05-23 08:33] l00mi commented on #1224
See also: https://github.com/zazuko/cube-creator/issues/1227

[2022-05-23 08:35] ortnever commented on #1227
It works. Thank you !

[2022-05-23 09:11] ortnever commented on #1227
same problem with
![image](https://user-images.githubusercontent.com/79834090/169783352-3ad86133-95df-486d-84a1-7c6ef9394d37.png)
![image](https://user-images.githubusercontent.com/79834090/169785458-964c579a-f49a-4d1d-80e9-e86eaf9a307a.png)
![image](https://user-images.githubusercontent.com/79834090/169785723-07eea9dc-60ff-4167-adeb-e1970a501a3c.png)

[2022-05-23 09:17] l00mi commented on #1227
@ortnever done.

[2022-05-23 09:17] l00mi commented on #1227
@tpluscode

Btw. i also found this, imported from PROD:

[code]

[2022-05-23 09:22] ortnever commented on #1227
no, they are all "old" projects

[2022-05-23 15:08] FabianCretton commented on #1114
@l00mi do you already have the video that will be displayed during the lecture ?

[2022-05-24 08:57] l00mi commented on #1114
@ktk is on that if I understand correctl.y

[2022-05-24 11:01] ortnever opened #1229 "Impossible to transform or publish in CC PROD"
since May 18 the following message appears when I try to transfer or publish a cube on CC PROD (at least with UBD0066).

![image](https://user-images.githubusercontent.com/79834090/170019975-d715f1b8-5078-418b-9f02-14b3539c0292.png)

[2022-05-24 11:38] tpluscode commented on #1229
We are working with VSNH to fix this

[2022-05-24 14:52] tpluscode commented on #1224
FYI, I fixed this in all current projects in INT and TEST. Should be working now

[2022-05-24 15:50] ortnever commented on #1229
Thank you @tpluscode . Transformation and Publication work now on PROD, but no more on INT. Or did I something wrong in the mapping?
![image](https://user-images.githubusercontent.com/79834090/170078346-b3877620-068e-425a-86d2-8db2f00e9e68.png)

[2022-05-25 05:24] FabianCretton commented on #1224
@l00mi The project was on INT, I did export .trig+csv from there, and then, after your clean-up, re-created the project there.

[2022-05-25 05:26] FabianCretton commented on #1224
Here is the exported .trig (renamed .txt to allow upload here.
[Fabian Red List Test 1.trig.txt](https://github.com/zazuko/cube-creator/files/8768161/Fabian.Red.List.Test.1.trig.txt)

[2022-05-25 05:46] FabianCretton opened #1230 "Cube Designer (INT): for some projects nothing displays"
On Cube-Creator INT, version 1.12.1
For some projects, the Cube Designer just turns without hand.
It happens during the first operation, even before displaying the table and starting loading the data (which is normally the slower step)
Some projects with that issue:
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fabforestrynormalized-5ljx6a5axdk/metadata
https://int.cube-

[2022-05-25 06:56] tpluscode commented on #1229
No, that would be unrelated. Let me investigate

[2022-05-25 06:56] tpluscode opened #1231 "[INT] Transformation: Cannot read property "load" of undefined"
Thank you @tpluscode . Transformation and Publication work now on PROD, but no more on INT. Or did I something wrong in the mapping?
![image](https://user-images.githubusercontent.com/79834090/170078346-b3877620-068e-425a-86d2-8db2f00e9e68.png)

_Originally posted by @ortnever in https://github.com/zazuko/cube-creator/issues/1229#issuecomment-1136101101_

[2022-05-25 09:06] tpluscode commented on #1231
This appeared to a small fluke in the project data files which appeared as maintenance of the database was undertaken. I corrected it and it should be working now

[2022-05-25 09:06] #1231 closed

[2022-05-25 09:07] tpluscode commented on #1230
This appeared to a small fluke in the project data files which appeared as maintenance of the database was undertaken. I corrected it and it should be working now

[2022-05-25 09:07] #1230 closed

[2022-05-25 09:29] l00mi commented on #1225
This was fixed right away if we understand correctly.

[2022-05-25 09:32] #1144 closed

[2022-05-25 09:39] l00mi commented on #1196
Closing for now, please re-open if the error still persists.

[2022-05-25 09:39] #1196 closed

[2022-05-25 09:40] l00mi commented on #1001
See https://schema.ld.admin.ch/LindasDataset

[2022-05-25 09:40] #1001 closed

[2022-05-25 11:55] tpluscode commented on #1025
Are we don here for now @l00mi ?

[2022-05-25 11:56] tpluscode commented on #1131
Let's close this one?

[2022-05-25 11:57] l00mi commented on #1025
Yes, anything missing will be bugs imo.

[2022-05-25 11:57] #1025 closed

[2022-05-25 11:58] #1131 closed

[2022-05-25 11:59] l00mi commented on #1101
@AFoletti @AFoletti could you test this functionality? It is on INT available now. There is no documentation, please ask if you need help to use it.

[2022-05-27 04:04] AFoletti commented on #1101
@l00mi
The functionality seems to work pretty fine. And is actually a godsent since the mapping was a chore beforehand 😉 . Many thanks for implementing this!

Still, a couple of things worth mentioning:

a) the automap button is hidden at the bottom of the interface, and when you have lots of entries you do not see it if you do not scroll down. Why not here?
![image](https://user-images.githubuser

[2022-05-27 16:20] ktk opened #1232 "(Header with) whitespace should be trimmed"
I have a CSV which I exported from a SPARQL query I did, the content looks like this:

[code]

Note the whitespace added in there.

Because of the whitespace I get mappings like this for templates: `{municipalityId }/{population }/{date }`

And that fails directly in the conversion job:

[code]

[2022-05-27 16:22] ktk commented on #1232
I deleted the whitespaces and then I couldn't update the mapping because it's not what it sees. Crappy CSV for sure but maybe a warning might be a good idea then.

[2022-05-31 08:15] ortnever opened #1233 "INT - New shared dimension cannot be created"
Cube creator INT, version 1.12.1 (425565a) browser : edge
As I try to save a new shared dimension I get following Error message
![image](https://user-images.githubusercontent.com/79834090/171125269-6f21f695-874e-40e9-bf93-ecef62050858.png)

Question :
How can I delete a shared dimension that I created for testing and that is not used? You can delete them for me if i cannot

- kingdom
- species gro

[2022-06-01 08:16] l00mi commented on #1233
@ortnever this sometimes happens, closing and reopening the dialog often solves this as a workaround for now.

[2022-06-03 13:07] ortnever commented on #1233
@l00mi thank you for the trick, but it did not help.

[2022-06-06 05:43] FabianCretton opened #1234 "[urgent] Cube Creator INT for today 6.06 and7 June class - Disk space issue"
I am editing an observation in the Cube Designer, on INT, and I get a "disk space" error
I would need this problem to be fixed ASAP to prepare tomorrows class and of course for tomorrows teaching class as well..
![image](https://user-images.githubusercontent.com/6167669/172102029-7020ec4a-c97f-4276-afe3-84f6df029776.png)

[2022-06-06 07:54] l00mi commented on #1234
We can't do much here, a ticket for problems on INT at VSHN is open since saturday.

[2022-06-06 07:54] #1234 closed

[2022-06-06 07:57] l00mi commented on #1234
https://control.vshn.net/tickets/SBAR-674

[2022-06-08 06:08] FabianCretton opened #1235 "Cube Creator slowness that needs to be clarified (why is it slow during basic operations ?)"
I take the opportunity of the class that we gave yesterday, were we just couldn't use the Cube Creator.
I guess this will be discussed with Pierre, but here I give my first impression.

I was expecting to have slowness during lengthy operations as transformation/publication, but the problems raised much earlier as soon as 40 people got connected: anything in the interface was slow: every window op

[2022-06-08 06:26] l00mi commented on #1235
As already explained this to Pierre, we can have a look on performance improvements at some point. But the yesterday the main problem with 40 participants yesterday is mostly the problem of an overloaded DB not running in a cluster. I warned upfront that the transformations are not problematic as they are done outside of the DB.

<img width="725" alt="Screenshot 2022-06-07 at 15 54 56" src="https:

[2022-06-08 07:30] FabianCretton commented on #1235
I think we need to pin-point what the problem is here, is it on the SPARQL queries side, on VSHN side, Stardog version, etc.

This was asked in the WTO for Los 1:
- Minimale Performance Basiskonfiguration "Explore"
Der Triplestore in der Basiskonfiguration (5 Milliarden Triples) erreicht bei 64 Concurrent Clients 1000 query mixes pro Stunde.
- Benchmark BSMS nach Spezifikation v3.1 im UseCase "Exp

[2022-06-08 07:34] l00mi commented on #1235
That would be good, at least once the architecture is switched from cluster mode to single node.

[2022-06-08 07:36] l00mi commented on #1218
Do we have any hint why this could happen?

[2022-06-08 07:37] l00mi opened #1236 "Check on import to dismiss old or wrong statements."
Yes, you will find the line `dcterms:identifier "Red Lists Test 1" ;` which should not be there. The only correct identifier is the one a few lines up, in the project section.

We might add checks to also prevent importing a project like that in the first place

_Originally posted by @tpluscode in https://github.com/zazuko/cube-creator/issues/1224#issuecomment-1136832881_

[2022-06-08 07:37] #1224 closed

[2022-06-21 11:04] l00mi opened #1240 "Also add http://xmlns.com/foaf/0.1/topic"
When publishing a new cube also add:

[code]
A side the already existing
   <http://schema.org/dataset>

[2022-06-21 11:08] ortnever opened #1241 "INT : Publication doesn't work"
Job failed after publication in CC int.  I tried with several cubes.
![image](https://user-images.githubusercontent.com/79834090/174785444-33bda0b8-7989-4345-ada0-5666e3732e18.png)

[2022-06-21 14:20] Rdataflow opened #1243 "Hierarchies are specified to use `meta:inHierarchy` not `meta:hasHierarchy`"
The [RDF cube schema spec](https://cube.link/#hierarchies) specifies to use `meta:inHierarchy` not `meta:hasHierarchy`

thus the cube creator needs to switch to `meta:inHierarchy` in order to conform with the spec.

non-conforming example: http://cube-viewer.zazuko.com/?cube=https%3A%2F%2Fenvironment.ld.admin.ch%2Ffoen%2Fubd0104%2F8&endpointUrl=https%3A%2F%2Fint.ld.admin.ch%2Fquery
![image](https:

[2022-06-21 14:22] Rdataflow commented on #1243
cc @sandrobischof ... please forward to marco

[2022-06-22 08:46] nikolatulechki opened #1244 "OIDC secret for tests/evaluation"
Hello,

We are trying to run cube-creator as part of a student project. Reading the documentation it is not clear if we can do this and how to obtain a OIDC secret. The [doc](https://github.com/zazuko/cube-creator#preparing-the-environment) says that it is done vi keycloak, but keycloak ha no registration options, just a login and trying to log in using the GH account does not work

Can someone pl

[2022-06-22 10:38] tpluscode commented on #1244
Keykloak is self-hosted OIDC provider which we use in our setup (also in development, using a separate instance). Hence, there is no registration. You would typically provide your own authentication provider

[2022-06-23 06:41] #1233 closed

[2022-06-23 17:32] #1241 closed

[2022-06-24 11:54] FabianCretton opened #1247 "When editing Shared Dimension in the Cube Designer, it happens that no Mapping is defined and the component bugs"
Cube version: 1.12.3

I was trying to update the mappings from one deprecated shared dimension to the new one.
I deleted all existing mappings, but could not save as the paging component was saying:"please select a value that is no more than 0"

![image](https://user-images.githubusercontent.com/6167669/175528885-ba4d5a37-c914-48ae-a318-177239ae2433.png)

[2022-06-28 08:03] kronmar opened #1250 "Publishing Jobs wrongfully displayed as pending"
![image](https://user-images.githubusercontent.com/95312586/176125367-48a5bb1a-9473-40a9-b702-41dbd5f9e91c.png)

I wanted to publish a cube last week. Presumeably due to missing english labels, the publication failed as we (me and Thomas) could gather from the logs. These failed jobs (second and third in the list) are still shown as pending, eventhough they should be marked as failed like the firs

[2022-06-28 08:11] kronmar opened #1251 "Publication fails if missing labels in default (english) language?"
Also see issue#1250.

Presumably, a publication failed due to only having labels in German and no other language. This is not clear from the user interface. Maybe it would be best, if the user is informed of such a behaviour with some warning labels at the top of the Cube Creator tab?

[2022-06-30 08:40] kronmar commented on #1251
Found the issue on my end. The underlying csv was faulty/wrongly configurated. Issue#1250, the wrong display of publication status still persists.

[2022-06-30 08:40] #1251 closed

[2022-06-30 08:43] l00mi commented on #1250
Normally there is a clean-up job taking care of these every so many hours. @tpluscode is this job stuck potentially?

[2022-06-30 08:44] l00mi commented on #1251
@kronmar can you share the miss configuration? Just to understand if there still could be a use full feedback in such a case. Thank you.

[2022-06-30 12:47] ortnever opened #1252 "Publication does not work on cc INT"
![image](https://user-images.githubusercontent.com/79834090/176680533-2635f902-3223-4e9c-91aa-0ac5ba4b11f3.png)

[2022-06-30 13:15] sam-e-ch opened #1253 ""Dynamic properties" tab keep jumping to "Term" tab"
When editing a term in a shared dimension, the "Dynamic properties" tab always keep jumping to the "Term" tab.
This makes it impossible to edit the dynamic properties.

To reproduce
1. open a shared dimension and edit an existing term (e.g. https://int.cube-creator.lindas.admin.ch/app/shared-dimensions/dimension!!zolltarifnummer/terms/dimension!!zolltarifnummer!!440121/edit)
2. click the "Dynamic

[2022-06-30 13:41] l00mi commented on #1252
@tpluscode it seems on first sight to be a regression on the Validation, https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/30588

[2022-07-01 07:28] Rdataflow commented on #1252
@tpluscode unfortunately multiple people are blocked by this issue. currently publication doesn't work.

cc @kronmar @sam-e-ch

[2022-07-01 08:00] tpluscode commented on #1227
I'm sorry. I will see again why this is still happening on import.

To mitigate is to remove the `http://purl.org/dc/terms/identifier` property in the RDF view.

<img width="620" alt="image" src="https://user-images.githubusercontent.com/588128/176851404-5b433b6d-eab4-47a9-8690-8cf36c05bc44.png">

[2022-07-01 08:46] l00mi commented on #1252
It seems to be a specific problem to some cubes. It does not block all cubes.. E.g. https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/30622 just was able to publish successfully.

[2022-07-01 09:41] sam-e-ch opened #1254 "Change link to visualize to refer the published version."
After visualize now also shows "DRAFT" tagged cubes if directly referenced, it is possible to have a link which works once published. To directly point to the version which is published, the need is to change the link to point to the version.

Initial Issue:

[2022-07-01 09:45] sam-e-ch commented on #1252
One problem I could identify is with linked shared dimensions.
After removing the link to a shared dimension from my cube the publication worked.

[2022-07-01 09:55] l00mi commented on #1254
The link is created as agreed on, it seems to be a regression on visualize, see mention on their side.

[2022-07-01 11:41] Rdataflow commented on #1253
[screencast.webm](https://user-images.githubusercontent.com/26090254/176887805-67de81e1-d5c8-48a8-9dfc-0e985e033d4a.webm)

[2022-07-04 07:24] kronmar commented on #1251
The csv was not in a proper format, with rows not identifying one measurement point with all its properties (region, species, observation etc etc) but with rows being indexed by one key dimension and columns by the other.

[2022-07-04 07:40] #1252 closed

[2022-07-04 07:53] tpluscode commented on #1250
Ah, we're only marking jobs which actually have turned to active. If for whatever reason a job does not start on GitLab, that will not be marked as failed after the timeout

[2022-07-04 08:25] Rdataflow opened #1258 "publish fails due to missing `{schema,dcterms}:identifier`"
followup of #1252 - nb: thanks for fixing that one 🚀

on behalf of @ortnever reporting
publish still fails
- message: missing `schema:identifier`
- actual check: `dcterms:identifier`

see https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/30743#L145

[2022-07-05 08:48] Rdataflow commented on #1243
@l00mi @tpluscode we should handle this issue with priority, so attaching hierarchies conforms the spec asap
hence visualize team can adopt before hierarchies go live on visualize PROD...

cc @ortnever @zellersabine

[2022-07-05 11:33] tpluscode commented on #1258
To clarify, the check is indeed looking at `dcterms`. The validation message is misleading, which I will correct right away.

Regarding this very cube, it still has the `<http://purl.org/dc/terms/identifier> "ubd0104" ;` property in cube metadata. Once removed, it should publish without issues.

[2022-07-05 13:20] sam-e-ch opened #1261 "Cube project with multiple cube tables defined gives weird output"
Creating multiple cube tables in one cube project gives weird output, which makes problems with visualize.admin.ch.

Is it even intended to make multiple cube tables per project? If not, I think it should be enforced as otherwise it can lead to confusion.

An example project: https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!repro-case-duplicated-cube-wp4gr16r8vy
This leads

[2022-07-05 13:53] l00mi commented on #1261
You are right, it is not intended behaviour. There are still many restrictions which are necessary in cube-creator to be implemented. I will put this one also on the backlog.

[2022-07-05 14:18] ortnever commented on #1258
Thank you @tpluscode . I removed the property and could save the metadata. The same happened in PROD but I could solve it by the same way.

[2022-07-05 14:20] tpluscode commented on #1258
By the way. Where did you export the `udb104prod` project from?

[2022-07-05 15:49] Rdataflow commented on #1218
yet another example of trippled key dimensions...
job https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/30832
from proj https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!nfi4-total-basal-area-of-main-tree-species-in-production-regions-no-hierarchy-rdwdmlrzn3o/edit
describe cube:Constraint https://s.zazuko.com/hGgLy
@tpluscode how to fix this?

[2022-07-05 18:08] Rdataflow commented on #1218
currently also @kronmar is impacted by this.
@tpluscode can you have a look at this ...

[2022-07-06 08:16] semanticfire opened #1262 "Use cube.link shapes for validation"
As per notice from @Rdataflow the shape used by the CLI:

https://github.com/zazuko/cube-creator/blob/2f0ee4dfc8c7c2352772bf415cac0515a877a092/cli/shapes.ttl

Is not in sync with the shapes from the cube.link validation shapes.
Ideally, this shape is imported from cube.link instead of separately maintained.

[2022-07-06 11:41] tpluscode commented on #1258
Ok. Let me close this issue the and I will have another look at import/export

[2022-07-06 11:41] #1258 closed

[2022-07-06 14:14] tpluscode commented on #1227
I looked at the export and, understandably, if a project's metadata does indeed have a `dcterms:identifier`, it too will be included in the export and subsequently imported into a new project.

Otherwise, attempting to save and publish such cube will fail, which is the observed result, and by-design.

However, to prevent importing a project like that, I have just submitted a change which adds addi

[2022-07-07 05:42] l00mi commented on #1262
We will refrain from including from the external source, as this will introduce unexpected, or uncontrolled behaviour (in regard of deployments) to the cube-creator. (Also are the shapes potentially in key parts slightly different for implementation details.)

The goal should be to have more regular and versioned cube.link publications, and state also in cube-creator which of the cube.link version

[2022-07-07 05:42] #1262 closed

[2022-07-07 06:25] tpluscode commented on #1262
What is the point of maintaining and publishing cube shapes in the spec if we duplicate the effort and risk a different result. IIUC discrepancies have already been found between our shapes and the "official".

We'd better work together to have only one source for cube validation, no?

[2022-07-07 08:26] l00mi commented on #1262
Yes, I absolutely agree that it should be based on this shapes, and ideally automatically can be kept in sync, e.g. through automated pull-requests, which allow to move to a specific version, or through a npm package include, but which needs to be manually updated to new versions. (A upgrade can not happen unattended).

But we need to assure that changes are always extremely transparent and also c

[2022-07-07 08:30] l00mi commented on #1254
@Rdataflow that is not up to us?

[2022-07-07 11:40] l00mi commented on #1261
Yes, not on the project board equals backlog.

[2022-07-11 09:49] Rdataflow opened #1265 "buttons appear slowly"
Performance issue:
- without joking: it takes 30 secs or more for the buttons to become visible and interact with them...
  ![image](https://user-images.githubusercontent.com/26090254/178237014-0f7ada1a-6e0b-4204-bf47-19958a75340d.png)

NB: the "no jobs yet" is already there

cc @pierredumas

[2022-07-13 12:11] #1101 closed

[2022-07-13 12:11] #1114 closed

[2022-07-14 17:46] #1227 closed

[2022-07-14 17:46] #1243 closed

[2022-07-14 17:46] #1250 closed

[2022-07-15 12:31] l00mi commented on #1254
@tpluscode how much effort is it to use the directly versioned link in cube-creator? I guess we don't have the version until it is finally uploaded, correct?

[2022-07-17 19:53] PDumasBAR commented on #1253
I see this bug only with existing terms.
With a new term, not yet saved, it is possible to display the dynamic property tab and fill it.
Hope it help to solve the bug

[2022-07-18 07:46] tpluscode commented on #1254
yes, @l00mi I think that's what we should do anyway. I makes sense that a specific publish job links to visualize of that same version and not latest

[2022-07-18 07:50] l00mi commented on #1254
Okay so we will fix it at both ends. Best to be robust!

[2022-07-18 07:55] tpluscode commented on #1240
This should be property of the cube itself? Which is the `<https://*.ld.admin.ch/*>`?

[2022-07-18 10:38] l00mi commented on #1240
No it should connect the /void with the cube.. exactly the same as schema.org/dataset does already.

[2022-07-18 12:40] tpluscode commented on #1218
I am again unable to reproduce when running the data pipeline locally. Looking at the job listing I think it looks like the issue is same version running publish simultaneously.

It is not possible to proactively prevent parallel jobs because of a waiting period before GitLab picks up a jobs and the pipeline actually starts. What I can try is to add a runtime check to forcibly stop a job if a newe

[2022-07-26 09:46] #1218 closed

[2022-07-26 09:46] #1235 closed

[2022-07-26 09:46] #1265 closed

[2022-07-26 12:59] tpluscode commented on #401
Re. cube metadata, currently category (`dcat:theme`). Queried directly from the UI from the published cubes database

Until we decide on a better solution, they can be populated from Lindas like

[code]

[2022-08-15 11:42] Rdataflow commented on #1265
@tpluscode this makes a huge difference in performance 😎 🚀

[2022-08-17 15:40] FabianCretton opened #1272 "Shared Dimension - Term edition - Dynamic properties tab is inaccessible"
Cube Creator INT version: 1.12.6
I think this bug was there in the past, and was either corrected or is still there now.
When clicking on Dynamic properties -> the display comes back to the Term tab:
![image](https://user-images.githubusercontent.com/6167669/185182548-e76cd614-db0f-43e8-af58-5979278593dc.png)

From this page:
https://int.cube-creator.lindas.admin.ch/app/shared-dimensions/dimension

[2022-08-18 12:42] tpluscode commented on #1253
Closing in favor of https://github.com/zazuko/cube-creator/issues/1272

[2022-08-18 12:42] #1253 closed

[2022-08-22 11:15] Rdataflow commented on #1254
@ortnever this will fix your current issue...

[2022-08-23 08:48] l00mi commented on #1254
@tpluscode do we have an issue for that on the cube-creator side?

[2022-08-23 10:36] FabianCretton opened #1275 "A cube now needs a dcterms:creator for Visualize, but this is undocumented, unchecked, etc..."
I discovered a few days ago that some of my cubes no more appear amongst Visualize datasets, and the answer from IXT was that the cube needs a dcterms:creator.

Today I did create a new cube for some tests, and it did not appear either on Visualize.
After some thoughts, I found out that I needed to add an Organisation on the tab open-data.swiss, in the cube's metadata edition of the Cube Designer.

[2022-08-23 11:09] l00mi commented on #1275
The needed properties are documented here: https://visualize.admin.ch/docs/charts/rdf-to-visualize. If there is a need for more details please contact @ptbrowne.

It is a sensible idea to restrict publication in case the target visualize.admin.ch is selected with some constraints. That would need a new issue.

[2022-08-23 11:15] l00mi commented on #1089
@tpluscode the version is now added by https://github.com/zazuko/cube-creator/commit/2e4a351266eb796cef44fb5c379afc6f1cff606b. Can you quickly describe in https://github.com/zazuko/cube-creator/wiki/Technical-Addendum how this can be used?

[2022-08-23 11:16] ptbrowne commented on #1275
@FabianCretton On our side we have prepared a tool to tell you when something is wrong from the point of view of visualize https://test.visualize.admin.ch/_cube-checker. It is linked from the docs that Michael linked to you in the post above but for now it has not been published on prod yet, only on test.

[2022-08-23 12:44] FabianCretton commented on #1275
@l00mi
For further discussion, but to take action (adaptation needed IMHO on the Cube Creator's GUI):
**From the Cube Creator perspective:**
How do we tell the user, that when he wants to publish a cube to Visualize, he must go to the "Opendata.swiss" tab and enter an Organization ?
**From Visualize perspective:**
How do we know, when [Visualize says](https://visualize.admin.ch/docs/charts/rdf-to-

[2022-08-23 12:53] FabianCretton opened #1276 "Shared Dimension - Term edition - Only the URL of the term displays in the edition window"
I did create a Shared Dimension from a .trig file: TEST environment, [Greenhouse gas emission sectors according to the CO2 Ordinance test1_gen_fab](https://test.cube-creator.lindas.admin.ch/app/shared-dimensions/dimension!!gas_emission_sectors_test1_gen_fab)

When editing a term, only the URL is displayed, but nothing else:
![image](https://user-images.githubusercontent.com/6167669/186161621-60f09

[2022-08-23 13:01] FabianCretton opened #1277 "[TEST env - INT also maybe] Download of a Shared Dimension super-slow or even time-out"
The download of a shared dimension is super slow (even for one shared dimension with only one term),

https://test.cube-creator.lindas.admin.ch/app/shared-dimensions/dimension!!test

Just pressing the "download" button.

A printscreen of the download operation that is running since 2 minutes on another shared dimension:
![image](https://user-images.githubusercontent.com/6167669/186164223-a4fb613a-

[2022-08-23 13:30] FabianCretton commented on #1275
About how to improve the Cube Creator/Visualize integration, I can also relate to this discussion where a "similar" problem is occuring: https://zulip.zazuko.com/#narrow/stream/40-bafu-ext/topic/Hierarchie.20removed.20from.20cube/near/283252

[2022-08-23 13:34] l00mi commented on #1275
That sounds like a good plan, we would need an epic issue for this to further go into this.

[2022-08-26 09:41] FabianCretton commented on #1272
@tpluscode @l00mi any time frame to get those tabs working ? as we are working on those these days to create shared dimensions and hierarchies.
Thanks

[2022-08-26 13:18] FabianCretton commented on #1276
More information as the problem came up today on INT as well:
I had that problem describe here above, on TEST, with the given version of the dimension.
I thought I solved that by adding the schema:validFrom to the dimension itself and all terms, and the  term edition was working propertly on INT, for that dimension for instance:
https://int.cube-creator.lindas.admin.ch/app/shared-dimensions/dimens

[2022-08-26 13:37] FabianCretton opened #1278 "Update the user guide about Shared Dimensions and Hierarchies"
as discussed with Michael, this seems needed for the Cube Creator users

[2022-08-26 13:48] FabianCretton opened #1279 "Hierarchy edition: the use of schema:name instead of the URL seems not stable - 2 examples"
When editing a Hierarchy, there two places where the GUI displays the term's URL instead of the label:
![image](https://user-images.githubusercontent.com/6167669/186918406-8d0fd77f-d14c-43e7-b8fb-a985aeac9fe6.png)

1/ on the left, under "Sample Data", the root nodes display the URL but the next levels display the label
2/ when editing the hierarchy, on the right, the root nodes show the url
But wh

[2022-08-26 15:02] ortnever commented on #1276
I see also only the URI in the cube Designer (INT). Should I publish the shared Dimension on PROD to see the labels?

![image](https://user-images.githubusercontent.com/79834090/186935020-73b1138f-c621-4af9-9cbb-53ec5e1a6fd5.png)

[2022-08-29 09:08] FabianCretton commented on #1276
@l00mi It would be great to get a clear explanation about why a Shared Dimension (and maybe its hierarchy if it exists) must be published on PROD even if we are working on a cube on INT. I mean, what is needed on PROD for the Cube Creator and Visualize regarding those Shared Dimensions/Hierarchies. Thanks

[2022-08-29 09:40] FabianCretton opened #1281 "When opening the Cube Creator, the display of the list of projects takes 30 to 45 seconds"
Cube Creator version 1.12.6
Just after login, it takes 30 to 45 seconds to display the list of projects.
This happens on INT (as there are more projects on INT I guess), and it happens with FireFox, Edge and Chrome.

It seems this is the same for Véronique, so I do not know if it is a Cube Creator issue or a local issue on our computers (cache, etc.)?

While this is annoying to work with the tool,

[2022-08-29 12:53] ortnever opened #1282 "Dash instead Label for one category in Dataset "Greehouse gas emission by sector""
A Label of the hierarchical dimension "Greenhouse gas emission sectors"is not displayed correctly in the "Edit view" (dash instead label, see Printscreen). In the "Published view" the label is displayed correctly.
https://test.visualize.admin.ch/en/v/_T5UYw7b-ZYX

The label is longer than the others. It is maybe the reason.

1. Open test.visualize.admin.ch with Int as datasource
2. search for "Emi

[2022-08-29 15:02] ortnever opened #1283 "Datatyp error by value 2.47812E-05"
Is there a range of allowed values for the decimal type ?
I have a value of 2.47812E-05 in the project UBD000501 Treibhausgasemissionen nach Sektoren (CO2-Verordnung) and the transformation fails.

In my CSV the value appears in the non-scientific notation, i.e. 0.000024782 but the transformation blocks on this line.
https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/34003

![image](https://use

[2022-08-29 15:06] ortnever commented on #1283
Regardless of the allowed value range, is scientific notation, for example, E-05 accepted by the transformation?

[2022-08-29 15:09] ortnever commented on #1282
oups..sorry, it was an issue for Visualize. i post it again there.

[2022-08-29 15:09] #1282 closed

[2022-08-31 08:11] l00mi commented on #1277
This seems a problem which is introduced with Stardog 8.x.x. We will need to schedule this later.

[2022-08-31 08:13] l00mi commented on #1277
@FabianCretton is this blocking on your side for concrete tasks?

[2022-08-31 08:15] l00mi commented on #1244
I hope this answer helped you in solving the problem. Please contact us again if you have other problems.

[2022-08-31 08:15] #1244 closed

[2022-08-31 08:19] l00mi opened #1284 "Add new metadata fields for alternateName and subtitle"
To allow the dataproviders to add Dataset names (like WASTA) or subtitles for specific sub-cubes add to new metafields to the cube.

[2022-08-31 08:25] l00mi opened #1285 "Investigate for optimized Queries with multiple languages with Stardog."

[2022-09-01 06:03] FabianCretton commented on #1275
Hi @ptbrowne and @l00mi, i come back to you both with my remaining question that, I think, we need to clarify and do something about it (simple fixes could take 15 minutes not more):
How does a Cube Creator user know which fields he **must** input when he chooses "publish to visualize" ?

The problem:
I am teaching the Cube Creator these days, and saying "oh yes, by the way, if you choose "publish

[2022-09-01 08:57] ortnever opened #1286 "Publish job fails in INT"
![image](https://user-images.githubusercontent.com/79834090/187874919-5dc98a8f-4a31-4c5d-a832-75abdcd24b00.png)

[2022-09-01 09:47] ortnever commented on #1286
oups....sorry I forgot metadata.
An explicit message when metadata is missing for publication would be welcome.

[2022-09-01 13:53] tpluscode commented on #1283
The value is the same, regardless of the notation. This should not be failing.

[2022-09-02 08:36] l00mi commented on #1275
Hi Fabian,

We can definitely do UX optimisations on the Cube-Creator side. We already did this once some months back, when we went through each panel and decided on rearranging. But I would wait currently from this side a bit, because of two reasons:
* I think now after the experience collected, we will need to adapt some of the metadata. (E.g. I think we should add two new fields for the cubes:

[2022-09-02 11:57] FabianCretton opened #1288 "Mapping to shared dimension problem/bug (and also a how-to question)"
First a how-to question, then the errors I encountered with the Cube Creator on INT; version 1.12.6

Thomas is [asking me](https://gitlab.ldbar.ch/bafu/umweltdatenkiosk-planning/-/issues/367#note_8457) to create an example cube with a switzerland-canton-municipality hierarchy.
He proposes to create a dataset about inhabitants for municipality, canton, country.

What is the correct way to design su

[2022-09-02 15:26] Rdataflow commented on #1283
@tpluscode might be related to datatyp.

IIUC *scientific notation* is only available for `xsd:double`

cc @l00mi

[2022-09-02 15:40] #1179 closed

[2022-09-02 15:40] #1272 closed

[2022-09-02 15:40] #1281 closed

[2022-09-05 05:37] FabianCretton commented on #1277
@l00mi this is not blocking, thank you for taking care of this when possible :-)

[2022-09-05 07:25] #1240 closed

[2022-09-05 07:58] tpluscode commented on #1283
You are right, scientific notation is reserved for floating point numbers (float and double). I spent some time trying to find a possible bug in the assumption that the pipeline incorrectly transforms that number

Instead, I found that row 622 does in fact contain `"2.47812E-05"` in the value column. It must have been changed when exporting source data to CSV. The pipeline is correct to signal a p

[2022-09-05 07:58] #1283 closed

[2022-09-05 08:07] l00mi commented on #1283
For context: @ortnever and @Rdataflow we did provide the datatypes xsd:float and xsd:double. But this was confusing for the data providers (mentioned by @FabianCretton). As 99% are covered by xsd:decimal we only kept this datatype. In this case I propose to fix the data source. If the need arises we can include these datatypes again.

[2022-09-05 09:33] ortnever commented on #1283
Thank you for your research and sorry for the confusion. I told you that in my CSV the value appeared in the non-scientific notation and it was the case. Unfortunately the file was not really replaced because I did not notice that one column had a different name.

It is clearly written by upload that the column names should not be changed. However, if this is the case, the user do not receive any

[2022-09-05 11:39] ortnever commented on #1283
@tpluscode
I noticed that the issue is closed. Did you see my comment?

[2022-09-05 11:47] tpluscode commented on #1283
Yes I have. Let me create a new issue for investigating the behaviour your describe

[2022-09-05 11:47] tpluscode opened #1289 "CSV reupload allowed column name to change"
Thank you for your research and sorry for the confusion. I told you that in my CSV the value appeared in the non-scientific notation and it was the case. Unfortunately the file was not really replaced because I did not notice that one column had a different name.

It is clearly written by upload that the column names should not be changed. However, if this is the case, the user do not receive any

[2022-09-07 13:25] FabianCretton opened #1290 "Cube Designer - 2 messages need clarification"
We have a cube with two messages that we do not understand in the Cube Designer:
Cube: https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!tobiasbesch1116institutionellde-7xyqxydao50/metadata

This cube is created by Tobias who is learning the Cube Creator, it is not "perfect", but still, we do not understand the 2 displayed messages:
![image](https://user-images.githubusercon

[2022-09-07 13:45] l00mi commented on #1290
Observation identifiers are not unique: This is an important one, this means that two lines will generate the same identifier, effectively merging two observations.
Value missing

[2022-09-07 14:45] FabianCretton commented on #1290
@l00mi could someone have a closer look, because I looked once again and i do not see any reason for those 2 message to appear:
- the csv has 33 lines, the Cube Designer has 33 observations, a table in visualize has 33 lines
https://test.visualize.admin.ch/en/create/DMEExrDWZCAG?dataSource=Int
So why the "Observation identifiers are not unique"
- Cube Designer: display all 33 lines -> all values a

[2022-09-08 06:32] FabianCretton commented on #1275
Thank you @l00mi Michael.

@ptbrowne What is the process on IXT side, by which you decide which field becomes mandatory for a cube ?
I mean, during the summer, it seems that the dcterms:creator became mandatory (see this discussion/issue here above).
I thought it was decided with Zazuko, but it seems not.
It is thus important to notice that when you decide something, it should be talked about with

[2022-09-09 06:00] FabianCretton commented on #1276
@l00mi do you have any timeframe for solving this ?
As we need to make a correction on one term and we can not access the edition window for the shared dimension on INT as described [here above](https://github.com/zazuko/cube-creator/issues/1276#issuecomment-1228478055).
Thank you.

[2022-09-09 06:59] l00mi commented on #1276
These terms get "dereferenced", which means they get checked out at the URL for a label. As long as the URL is not on Prod it can not be dereferenced. What speaks agains putting the shared dimensions to PROD already?

[2022-09-09 07:00] l00mi commented on #1276
Btw. currently we did not prioritize this.

[2022-09-09 12:32] FabianCretton commented on #1276
Thank you Michael
Then I think that this whole Shared Dimension feature needs some clear explanation.
Especially that we are using it a lot these days and get blocked at some points.
I am not talking about new things to prioritize, but about how do I use the feature, right ?
I actually do not understand the link between the Shared Dimensions on the different environments.
Could you clarify this an

[2022-09-09 12:37] l00mi commented on #1276
Lets a have call for it, might be easier?

[2022-09-09 12:38] FabianCretton commented on #1276
Yes, do you want to send me a link ?

[2022-09-13 06:27] FabianCretton commented on #1276
Here is a recap of the situation after a call with Michael.
The current problem is that I can not edit some terms as the edition window only display the URL of the term and not the other fields. See the examples given here above.
Michael think that this could be related to the fact that the dimension is not published on PROD, but this seems not the case as for other dimensions, not on PROD, it wor

[2022-09-13 06:47] FabianCretton commented on #1276
I have two more questions about Shared Dimension, as this feature needs to be "correctly" finalized:
- how is the list of Shared Dimension ordered ? shouldn't there be an Order By the name (as the list on INT becomes longer it becomes hard to find the dimension we want to edit)
- I understand the "Term properties" of a dimension meta-data, to define the properties that can be added to the terms. W

[2022-09-13 13:31] bequrios opened #1291 "change of "publishing profile" breaks CSV mapping"
If the "publishing profile" gets changed after the mapping of the CSV, all the target properties are lost in every table (cube tables and concept tables) and do not recover once the "publishing profile" gets reverted to the original state.

[2022-09-14 09:42] Rdataflow opened #1292 "URL returns 404"
URL returns 404
https://github.com/zazuko/cube-creator/blob/eaa74cce525ec861c872a9026f58a53562f80ec8/cli/lib/toCubeShape/Dimension.js#L100

wanna refer to the published spec?

[2022-09-14 09:53] l00mi commented on #1292
@tpluscode new link goes to https://cube.link/#usage-of-code-lists

[2022-09-14 13:55] FabianCretton commented on #1288
As a complement: it seems that the auto-fill function is buggy, even when only one Shared Dimension is concerned.
Today I tried a dataset with only municipalities.
The auto-fill gave an error: Unkown error as on the printscreen here above.
It means that the autofill is having a problem that is not related to the fact that I wanted to map to three different dimensions.

Can the problem come from th

[2022-09-15 14:51] PDumasBAR opened #1293 "Dates are not correctly interpreted by the harvester Opendata"
It seems that some dates are not correctly interpreted by the harvester opendata for Lindas. The following sample are from cube "The Stapfer-Enquête" in Production:

<dcterms:issued xml:datatype="http://www.w3.org/2001/XMLSchema#date">
  2016-06-30
</dcterms:issued>

<dcterms:PeriodOfTime>
  <schema:endDate xml:datatype="http://www.w3.org/2001/XMLSchema#date">
    1799-12-31
  </schema:endDate>

[2022-09-16 07:41] FabianCretton commented on #1276
@l00mi @tpluscode
Any update about the edition of terms that do not work (only the label is displayed - see here above) ?
As you know, BAFU is currently working on adding many datasets as this is the only way to prove that the platform is "useful".
(@ortnever for Info)
I need to modify some Shared Dimensions and I guess I can currently only:
- either ask for read/write rights in Stardog to correct

[2022-09-16 11:44] Rdataflow opened #1294 "add a hierarchy symbol for cube desinger columns"

[2022-09-16 11:47] Rdataflow commented on #1294
@l00mi it might be helpful to understand if a dimension has a hierarchy applied

[2022-09-19 06:14] FabianCretton commented on #1288
@tpluscode here is a new simple cube, with only municipalities
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fab-test-1-shared-dimension-mapping-l6wmkznepxn/metadata

It allows to easily reproduce the bug, here is what I did:
- create the project, upload that .csv
- do a simple observation table, transform
- municipalities identifier are in the "bfsidentifier" column.
-

[2022-09-19 06:53] FabianCretton opened #1295 "Transformation with blue-blinking icon even if transformation failed (was corrected a few months ago, but reappears now)"
A transform failed days ago, because of a time-out, but the blue-blinking icon is still there:
https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!tobiasbesch1116institutionelldecopy-0evln3nqge/materialize

I thought that this problem was corrected, but it appears again.

This is a project from a new person working on BAFU datasets, as they do not have access to the log, they

[2022-09-20 09:02] FabianCretton commented on #1276
Another information from today, for your "debugging":
A term was added manually, the 38: https://int.cube-creator.lindas.admin.ch/app/shared-dimensions/dimension!!ghg_emission_sectors_co2_ordinance_test4_gen_fab/terms/dimension!!ghg_emission_sectors_co2_ordinance_test4_gen_fab!!38/edit

For that term, the edition window does display correctly.
But for the other terms, only the URL is displayed as

[2022-09-21 10:46] tpluscode commented on #1276
@FabianCretton I identified the problem and I just completed a fix. Will try to get it deployed as soon as possible

[2022-09-23 05:36] FabianCretton opened #1298 "Shared Dimension "Heavy Metal" - strange behavior to clarify"
I understand the "Term properties" of a dimension meta-data, to define the properties that can be added to the terms.
When a Shared Dimension has some "Term properties", than those properties will appear on the "Dynamic properties" tab when editing a term. Is that correct ?

If that is correct, there is a strange behavior for the "Heavy Metal":
https://int.cube-creator.lindas.admin.ch/app/shared-d

[2022-09-23 13:11] ortnever opened #1299 "Edit shared Dimension - Error when modifying Term properties"
I want to modify the term property "Alternate Name" for the shared Dimension "Pollutant groups" but I get an error when I try to change the "Value Type". I first entered "Literal" and would like to remplace by multilingual "Lang string" but I get an error.

![image](https://user-images.githubusercontent.com/79834090/191967704-a293c933-c1bb-49ae-888b-6f3e57e98aa4.png)

[2022-09-23 14:51] FabianCretton opened #1300 "Mapping to shared dimension: issue when adding a term manually"
A first version of a project and a Shared dimension was created and published.
Project:  [UBD000502 Treibhausgasemissionen nach Sektoren und Gasen (CO2-Verordnung)](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd000502-treibhausgasemissionen-nach-sektoren-und-gase-co2-verordnung-oxwgjodd83e/edit)
Shared Dimension [Greenhouse gas emission sectors according to the CO2 Or

[2022-09-26 12:01] FabianCretton opened #1301 "Shared Dimension Import - Very strange "unknown error" - Blocker"
I have to create a Shared Dimension for "Zolltarif".
I did prepare the .trig file, but when I create the Shared Dimension with an import of that file, I get:
![image](https://user-images.githubusercontent.com/6167669/192270070-2c7f07a0-3bc7-457a-b33e-3c79a9b7a433.png)

I join the file "SD_ZollTarif.trig"
[debug SD creation.zip](https://github.com/zazuko/cube-creator/files/9645952/debug.SD.creation

[2022-09-26 15:39] l00mi commented on #1295
Seems some problem of these jobs not getting catched by the timeout job. https://gitlab.ldbar.ch/pipelines/cube-creator/-/jobs/35873

[2022-09-26 15:57] FabianCretton commented on #1301
Thank you @l00mi
You mean that this function is only there to transfer Shared Dimensions from one system to another, right ?

If so, is there a better way to create Shared Dimensions ?

I can either learn how to make .trig files that conform to what the Cube Creator expects (I am sure it is not a far outreach), or we need another way to create the Shared Dimensions. Of course inserting all terms m

[2022-09-26 18:54] l00mi commented on #1301
As said the functionality to do this in Cube-Creator as a badge is on the roadmap. But not yet scheduled. I showed this way as a current work-around, but we can't improve the work-around. If there is no need for individual changes in the Cube-Creator, the best way is to simply create the Shared Dimension in a pipeline or simply in a file for that matter, which then gets uploaded to Lindas.

[2022-09-27 06:14] FabianCretton commented on #1301
Ok thanks, I will find a way

[2022-09-27 06:17] l00mi commented on #1301
@tpluscode can you try with the files above locally and see if it runs in a size limitation?

[2022-09-27 14:29] tpluscode commented on #1301
This loads fine locally. I wanted to see what happens in the app... and it got imported successfully too 🙈

https://int.cube-creator.lindas.admin.ch/app/shared-dimensions/dimension!!aussenhandel_zolltarif_fab_test6

[2022-09-28 05:20] FabianCretton commented on #1301
@tpluscode from what I see, you have uploaded "SD_ZollTarif_3000lignes.trig", which fails for me, yes.
But could you also try with the "real" file: SD_ZollTarif.trig

If it works for you, but not for me, what could be the cause ?
I have Cube Creator 1.12.7, in Firefox 105.0.1

[2022-09-28 11:04] tpluscode commented on #1301
I do not seem to find any errors being caught by monitoring, which would suggest a problem happens in the browser.

I'd expect errors in the browser console. Are there any?
I use mostly Chrome. Can you try that?

[2022-09-28 12:32] FabianCretton commented on #1301
Here is my feedback:
- In Chrome, uploading "SD_ZollTarif_3000lignes.trig" worked ! (it fails in Firefox)
- But loading the original file "SD_ZollTarif.trig" failed with the same error.

Here is the error with the developper output:
![image](https://user-images.githubusercontent.com/6167669/192779128-746645ff-a0db-4f4e-80c7-1133dc710e59.png)

Does it make any sense ?
Thanks for your help

[2022-09-29 07:50] ortnever opened #1303 "Term properties of shared Dimension - Languages are not saved."
I added the Term property "schema:description" with value Type : langString and several languages, in the shared Dimension "Pollutant Groups".
I could save but when I edit the term, I cannot enter the description in several languages.

![image](https://user-images.githubusercontent.com/79834090/192972080-fb7c6a68-4081-4340-b145-f47bc05fc468.png)

![image](https://user-images.githubusercontent.com/

[2022-10-07 04:26] FabianCretton commented on #1276
@tpluscode today I saw that a new version was deployed: 1.12.8,
But the behavior seems the same.
Dimension: https://int.cube-creator.lindas.admin.ch/app/shared-dimensions/dimension!!ghg_emission_sectors_co2_ordinance_test4_gen_fab
Editing any term just displays the URL and loops without any result (except term 38 that displays correctly as explained here above)
![image](https://user-images.githubu

[2022-10-07 04:28] FabianCretton commented on #1288
@tpluscode I see your "eyes" emoji, what is the meaning, you can not reproduce it ?

[2022-10-07 09:31] tboeni opened #1309 "Transformation error when replacing CSV after the initial tranformation"
I encountered an error when I was preparing the cube [Tobias_Holzernte_m3_Test_copy](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!tobiasholzerntem3testcopy-pdz28ykzvoq/csv-mapping).

This error happened multiple times, after trying to replace the csv file in the "CSV Mapping" section.

![TransformationError](https://user-images.githubusercontent.com/111350367/194520256-

[2022-10-07 09:57] ortnever commented on #1300
For the example Fabian gave, that was my mistake. I had simply forgotten to indicate the "Parent" of this term under the dynamic properties.

Project: [UBD000502 Treibhausgasemissionen nach Sektoren und Gasen (CO2-Verordnung)](https://int.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!ubd000502-treibhausgasemissionen-nach-sektoren-und-gase-co2-verordnung-oxwgjodd83e/edit)
Shared Dime

[2022-10-08 11:24] FabianCretton opened #1310 "Cube Creator login current problem on INT and TEST ?"
Do you also experience a strange login behavior on TEST and INT currently ?
When opening the Cube Creator [URL's](https://test.cube-creator.lindas.admin.ch/app/) it keeps moving forward/backward in a loop ? This does not happen on PROD.
I tried on different browser, and different computers, same behavior.

Thank you for any input as I have to work on it this monday.

[2022-10-11 08:21] tpluscode commented on #1272
It’s in progress already and well advanced. Should be possible to finalise on Monday

On 26 August 2022 at 11:41:31, Fabian Cretton ***@***.***) wrote:

@tpluscode @l00mi any time frame to get those tabs working ? as we are working on those these days to create shared dimensions and hierarchies.
Thanks

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this becau

[2022-10-11 14:05] tpluscode commented on #1290
This is in fact a bug where existing errors are not cleared when they no longer apply.

[2022-10-12 13:33] #1292 closed

[2022-10-12 13:33] #1290 closed

[2022-10-12 13:33] #1303 closed

[2022-10-13 08:25] #1310 closed

[2022-10-13 08:25] FabianCretton commented on #1310
Certificates were renewed and problem is corrected

[2022-10-13 08:27] FabianCretton commented on #1301
Last update:
I did now create the Shared Dimension from the BAFU Helpers pipeline.
I took the same RDF from the .trig file, and converted to a .ttl file
The upload works

It seems then that there is effectively a problem when importing .trig files

[2022-10-13 08:29] FabianCretton commented on #1300
As explained by Veronique, the problem was on our side.
I open another issue about the comments here above, about triples  prov:Entity that remain strangely in the cube

[2022-10-13 08:29] #1300 closed

[2022-10-13 08:31] FabianCretton commented on #1299
@ortnever est-ce l'erreur ne vient pas du fait que tu n'as sélectionné aucune langue ?
@l00mi Le manque de clareté de certains messages d'erreur est vraiment un problème pour le end-user

[2022-10-13 08:33] l00mi commented on #1299
@FabianCretton I agree.

[2022-10-13 08:41] FabianCretton opened #1314 "Updating Shared Dimension mappings: "<...> a prov:Entity" triples not correctly deleted"
This happened on different projects:
After having a first mapping to a shared dimension, we did create a new shared dimension and re-create the mapping.
After that, when exporting the .trig file of the project, we can see that some former triples are still there.

This is not causing any problem that I am aware of, as I do not know how that 'a prov:Entity' is used.
But there seems to be some "mess

[2022-10-13 09:06] FabianCretton commented on #1276
Still same behavior with 1.12.9:
Dimension: https://int.cube-creator.lindas.admin.ch/app/shared-dimensions/dimension!!ghg_emission_sectors_co2_ordinance_test4_gen_fab

[2022-10-13 09:16] l00mi commented on #1309
This looks unfortunately more like a problem of the Stardog DB not answering consistently. So it might be related to the amount of queries done a a certain time on Stardog. Lets keep this issue open to see if we can make this more robust in the future.

[2022-10-13 09:17] l00mi commented on #1293
@PDumasBAR what is the state here? Still any action from our side necessary?

[2022-10-13 12:48] ortnever commented on #1299
Until now we could not enter different languages (see #1311). But this issue has just been closed. I hope that will solve this problem too. I will test as soon as the fix is also on INT.

Mais des messages plus clairs seraient les bienvenus !

[2022-10-19 07:29] FabianCretton commented on #1275
@l00mi Michael @ptbrowne Today I will update the Cube Designer page so that this information about "Organisation" is not only in my head, but at disposal for the users.

@ptbrowne I will mention the cube checker is it ok for you ?
If so, what URL should I provide ? I guess that [visualize.admin.ch](https://visualize.admin.ch/_cube-checker?dataSource=Prod) can only check cubes that are in PROD (no

[2022-10-19 08:09] FabianCretton opened #1315 "Cube Designer: The tooltip to edit the cube's metadata is not visible"
See this printscreen where only the bottom of the tooltip box is visible:
![image](https://user-images.githubusercontent.com/6167669/196633626-4317e01d-da61-465b-b1d7-407bb07c4b0d.png)

Cube creator version 1.12.9
On Firefox 105.0.3

On the other hand, the "language" tooltip displays correctly under the control:

![image](https://user-images.githubusercontent.com/6167669/196634062-cb72404b-0194-40

[2022-10-19 08:23] ptbrowne commented on #1275
We try not to make things mandatory, I think the last time it happened, it was because of improvements on the search, and some fields were made required when in fact they should still be optional (so it was a bug on our part). In case we require a field, we will for sure coordinate with you before hand.

Yes it is OK for me, you can mention [int.visualize.admin.ch](https://int.visualize.admin.ch/e

[2022-10-19 08:27] FabianCretton opened #1316 "Cube publication icon: an error icon is displayed but the cube was published correctly"
[This cube ](https://test.cube-creator.lindas.admin.ch/app/cube-projects/cube-project!!fab-foreign-trade-test-1-lvqwlmndlj5/publication)was published correctly a few days ago.
The icon was correct the day I published the cube, but today I see:
![image](https://user-images.githubusercontent.com/6167669/196637228-3cf8d1a4-3b53-4a40-91ad-b1a87554cf53.png)

And in the detail of the publication job:
![

[2022-10-19 14:08] l00mi commented on #1275
@FabianCretton yes, please go ahead. Thank you! With this I will close the issue with this for now.

(Except the word _disposal_ was probably not the one you were looking for in your comment above (-: )

[2022-10-20 07:17] FabianCretton opened #1317 "Strange Shared Dimensions that are "read-only""
Since a few days, we see some strange Shared Dimensions on TEST and INT, as:
![image](https://user-images.githubusercontent.com/6167669/196881522-4251ab92-affc-4535-8f9d-b9ee1821b48f.png)

They have no names and were certainly created by some Zazukos' pipelines ?

Here is an example link when mouse-over:
https://int.cube-creator.lindas.admin.ch/app/shared-dimensions/https:!!!!politics.ld.admin.ch!